<connectionStrings>
  <!-- Main database -->

  <!--<add name="CMSConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=etg-staging-db-k13;Integrated Security=True;Persist Security Info=False;Connect Timeout=60;Encrypt=False;Current Language=English;" />-->
	<!--<add name="CMSConnectionString" connectionString="Data Source=.;Initial Catalog=etg-live-db-k13;Integrated Security=True;Persist Security Info=False;Connect Timeout=60;Encrypt=False;Trusted_Connection=True;Current Language=English;" />-->

	<add name="CMSConnectionString" connectionString="Data Source=DST-10;Initial Catalog=EtgDB;Integrated Security=False;Persist Security Info=False;User ID=DST-24;Password=1234qwer;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;Current Language=English;" />


</connectionStrings>