<div class="booking-thankyou">
  <div class="wrapper">

    <div class="main-content">
      <p><strong>Website Order Reference: 1282</strong></p>
      <p>Thank you for booking our website package.</p>
      <p>You will shortly receive an invoice upon which the deposit is immediately due. Should we not receive this deposit within 72 hours the package will be cancelled.</p>
      <p>No services will be booked until the deposit is received.</p>
    </div>

    <div class="sidebar">
      <div class="other-options">
        <h4>Other payment options</h4>
        <div class="payment-option">
          <div class="heading">Direct Deposit</div>
          <div class="content">
            Entire Travel Group Pty Ltd<br>
            BSB - 082-401<br>
            A/C - 71-846-1340
          </div>
        </div>
        <div class="payment-option">
          <div class="heading">TravelPay B2B</div>
          <div class="content">
            Entire Travel Group Pty Ltd<br>
            TPSentire<br>
          </div>
        </div>
        <div class="payment-option">
          <div class="heading">Mint Payments</div>
          <div class="content">
            Entire Travel Group Pty Ltd<br>
            M329347
          </div>
        </div>
        <div class="payment-option">
          <div class="heading">Payments Gate</div>
          <div class="content">
            Entire Travel Group Pty Ltd<br>
            AAGE
          </div>
        </div>
        <div class="payment-option">
          <div class="note">
            <div class="heading">Note:</div>
            Please ensure Invoice Booking Reference is used for payments.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
