<div>
  <div class="wrapper">
    <div class="message-container">

      <p><br/>
        <strong>Website Client Quote: 113</strong></p>

      <p>We are delighted you have selected one of our holiday packages to share with your clients.<br/>
        <br/>
        An email has been sent to<strong>&nbsp;</strong>you from info@entiretravel.com.au.<br/>
        <br/>
        From this email you can:&nbsp;</p>

      <ul>
        <li>Download the Client Quote</li>
        <li>Click the Pay Now button to proceed</li>
      </ul>

      <p>We look forward to hearing from you.<br><br></p>

      <div class="action-buttons">
        <a target="_blank" class="ui primary button transparent" href="@Model.DownloadQuoteNoTermsUrl">Generate Quote Without Deposit Terms</a>
        <a target="_blank" class="ui primary button transparent" href="@Model.DownloadQuoteUrl">Download Client Quote</a>
        <a target="_blank" class="ui primary button" href="@Model.BookNowUrl">Book Now</a>
      </div>

      <p>The Team at Entire Travel Group.</p>

      <p>&nbsp;</p>
    </div>
    <!--<div class="two-column-content">
      <div class="column">
        <p><strong>Website Order Reference: referenceno</strong></p>
        <p>Thank you for booking with Entire Travel Group.</p>
        <ul>
            <li>Our team will contact our overseas suppliers and confirm all arrangements.</li>
            <li>A Confirmation from our reservation system will be sent in the coming days.</li>
            <li>The Booking Number on this confirmation supersedes the website reference.</li>
        </ul>
        <p><strong><u>Please use this Booking Number on future correspondence and payments.</u></strong></p>
        <p>We are delighted you have selected one of our holiday packages.</p>
        <p>The Team at Entire Travel Group.</p>
        <p>&nbsp;</p>
      </div>
      <div class="column">
        <div class="summary">
          <div class="item sub-total">
              <div class="total-label">Package total</div>
              <div class="total-price">AUD $3,872</div>
          </div>
          <div class="item">
              <div class="total-label">Amount Paid</div>
              <div class="total-price">AUD $3,872</div>
          </div>
          <div class="item">
              <div class="total-label">Balance Due</div>
              <div class="total-price">AUD $0</div>
          </div>
          <div class="item sub-total">
              <div class="total-label">Payment Confirmation</div>
          </div>
          <div class="item">
              <div class="total-label">Deposit Value</div>
              <div class="total-price">AUD $3,872</div>
          </div>
          <div class="item">
              <div class="total-label">Card Transaction Fee</div>
              <div class="total-price">AUD $0</div>
          </div>
          <div class="item">
              <div class="total-label">Total charged to card</div>
              <div class="total-price">AUD $3,872</div>
          </div>
          <div class="item">
              <div class="total-label">Card:</div>
              <div class="total-price">433687XXXXXX9828</div>
          </div>
        </div>
      </div>
    </div>-->

  </div>
</div>
