<div class="booking-thankyou">
  <div class="wrapper">

    <div class="main-content">
      <p><strong>Website Order Reference: 1282</strong></p>
      <p>Thank you for booking with Entire Travel Group.</p>
      <ul>
        <li>All packages are subject to availability.</li>
        <li>Our team will contact our overseas suppliers and confirm all arrangements.</li>
        <li>A Confirmation from our reservation system will be sent in the coming days.</li>
        <li>The Booking Number on this confirmation supersedes the website reference.</li>
      </ul>
      <p><strong><u>Please use this Booking Number on future correspondence and payments.</u></strong></p>
      <p>We are delighted you have selected one of our holiday packages.</p>
      <p>The Team at Entire Travel Group.</p>
    </div>

    <div class="sidebar">
      <div class="payment-summary">
        <div class="item sub-total">
          <div class="total-label">Package total</div>
          <div class="total-price">$5,388.00</div>
        </div>
        <div class="item">
          <div class="total-label">Amount Paid</div>
          <div class="total-price">$5,388</div>
        </div>
        <div class="item">
          <div class="total-label">Balance Due</div>
          <div class="total-price">$0</div>
        </div>
        <div class="item sub-total">
          <div class="total-label">Payment Confirmation</div>
        </div>
        <div class="item">
          <div class="total-label">Deposit Value</div>
          <div class="total-price">$5,388.00</div>
        </div>
        <div class="item">
          <div class="total-label">Card Transaction Fee</div>
          <div class="total-price">$109.76</div>
        </div>
        <div class="item">
          <div class="total-label">Total charged to card</div>
          <div class="total-price">$5,497.76</div>
        </div>
        <div class="item">
          <div class="total-label">Card:</div>
          <div class="total-price">400000XXXXXX1091</div>
        </div>
      </div>
    </div>

  </div>
</div>
