<div class="booking-thankyou">
  <div class="wrapper">

    <div class="main-content">
      <div class="action-buttons">
        <a target="_blank" class="ui primary button transparent" href="@Model.DownloadQuoteNoTermsUrl">Generate Quote Without Deposit Terms</a>
        <a target="_blank" class="ui primary button transparent" href="@Model.DownloadQuoteUrl">Download Client Quote</a>
        <a target="_blank" class="ui primary button" href="@Model.BookNowUrl">Book Now</a>
      </div>

      <p><strong>Website Client Quote: 113</strong></p>

      <p>We are delighted you have selected one of our holiday packages to share with your clients.</p>
      <p>An email has been sent to you from info@entiretravel.com.au.</p>
      <p>From this email you can:</p>

      <ul>
        <li>Download the Client Quote</li>
        <li>Click the Pay Now button to proceed</li>
      </ul>

      <p>If you do not receive the email within a few minutes please call our Reservations Team who can resend this to you. Please check your junk email folder.</p>

      <p>The Team at Entire Travel Group.</p>
    </div>

  </div>
</div>
