<div class="widget new-featured-packages">
  <div class="wrapper">
    <h2>Our Featured Packages</h2>

    {% include "src/widgets/tour-tiles/tour-tiles.njk" %}

    <!-- Note - optional CTA -->
    <div class="cta">
      <a href="#" class="ui primary outline button">View all</a>
    </div>
  </div>
</div>
