<div class="widget photo-slider">
  <div class="wrapper">
    <div class="slider">
      <div class="item">
        <div class="inner">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
        </div>
      </div>
      <div class="item">
        <div class="inner">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
        </div>
      </div>
      <div class="item">
        <div class="inner">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
        </div>
      </div>
      <div class="item">
        <div class="inner">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
        </div>
      </div>
      <div class="item">
        <div class="inner">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
        </div>
      </div>
      <div class="item">
        <div class="inner">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
