<div class="widget tour-tiles-slider">
  <div class="wrapper">
    <div class="top">
      <h2>Somewhere else to consider</h2>
    </div>

    {% include "src/widgets/tour-tiles-slider/__slider.njk" %}

    <div class="bottom">
      <a href="#page" class="button ui primary transparent">View all</a>
    </div>
  </div>
</div>
