@import "../../styles/includes/settings.scss";
@import "../../styles/includes/colours.scss";

.package-additional-information {
  margin-top: 40px;
  break-inside: avoid-page; /* Ensure widget heading starts on same print page as its content */

  html.pdf-generation-template & {
    break-inside: avoid; /* Do not allow to break over printed pages*/
  }

  @media(--portrait) {
    margin-top: 60px;
  }

  .top {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    html.pdf-generation-template & {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @media(--portrait), print {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    h2 {
      margin: 0;
    }
  }
}
