<div class="widget package-sticky-footer">
  <div class="tag js-mini-discounts-offers">
    <div class="title">Book and pay by midnight 30 Jul 2019 and get 20% off!</div>
    <div class="counter-container">
      <div class="timer js-discounts-offers-timer">
        <div class="timer-unit">
          <span data-timer-unit="days"></span>
        </div>
        <div class="timer-unit">
          <span data-timer-unit="hours"></span>
        </div>
        <div class="timer-unit">
          <span data-timer-unit="minutes"></span>
        </div>
        <div class="timer-unit">
          <span data-timer-unit="seconds"></span>
        </div>
      </div>
      <div class="counter-label">Remaining</div>
    </div>
  </div>

  <div class="bar expand-sticky">

    <div class="expand-sticky-trigger">
      <div class="icon up fas fa-chevron-up"></div>
     <div class="icon down fas fa-chevron-down"></div>
    </div>

    <div class="left">
      <div class="top">
        <div class="package-name">Moana Sands Lagoon Resort & Tamanu Beach Resort</div>
      </div>

      <div class="bottom">
        <div class="destination">Cook Islands</div>

        <!-- HELP-1988 Non-strike price
        <div class="prices">
          <div class="price-actual">
            From <span class="price-currency">AUD</span> <span class="price-value">4,392</span>
          </div>
        </div>
        -->
        <!-- HELP-1988 Strike price -->
        <div class="prices">
          <div class="price-from">
            From <span class="strike"><span class="price-currency">AUD</span> <span class="price-value">4,892</span></span>
          </div>
          <div class="price-actual">
            <span class="price-currency">AUD</span> <span class="price-value">4,392</span>
          </div>
        </div>

      </div>
    </div>

    <div class="right">
      <!-- HELP-1988 Non-strike price
      <div class="prices">
        <div class="price-actual">
          From <span class="price-currency">AUD</span> <span class="price-value">4,392</span>
        </div>
      </div>
      -->
      <!-- HELP-1988 Strike price -->
      <div class="prices">
        <div class="price-from">
          From <span class="strike"><span class="price-currency">AUD</span> <span class="price-value">4,892</span></span>
        </div>
        <div class="price-actual">
          <span class="price-currency">AUD</span> <span class="price-value">4,392</span>
        </div>
      </div>

      <!-- TODO handle 'Pick Your Dates' button function -->
      <!-- TODO handle 'Travel Agent Quote & Book' button function -->
      <div class="buttons">
        <button class="button ui primary book-now-trigger" data-scrollto-target=".form-steps">Pick Your Dates</button>
        <button class="button ui primary transparent ta-trigger">Travel Agent <span style="white-space: nowrap">Quote & Book</span></button>
        <!-- HELP-2143 Add 'make an enquiry' button-->
        <a href="#page" class="ui button primary transparent">
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.1562 0.59375L1.28125 6.85156C0.859375 7.08594 0.90625 7.69531 1.32812 7.85938L3.83594 8.91406L10.5625 2.98438C10.6797 2.86719 10.8672 3.03125 10.75 3.17188L5.125 10.0391V11.9375C5.125 12.5 5.78125 12.7109 6.10938 12.3125L7.60938 10.4844L10.5156 11.7266C10.8438 11.8672 11.2422 11.6562 11.2891 11.2812L12.9766 1.15625C13.0703 0.6875 12.5547 0.359375 12.1562 0.59375Z" fill="currentColor" />
          </svg>
          Make an enquiry
        </a>
      </div>
    </div>

  </div>
</div>
