<div class="widget static-video wp">
  <div class="inner-container">
    <div class="video-container">
      <div class="video-button">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/full-width-image.jpg?auto=format" alt=""/>
        <span class="tint"></span>
        <span class="play"><i class="fas fa-play"></i></span>
        <span class="copy">Cras mattis consectetur purus sit amet fermentum fusce dapibus,</span>
      </div>
      <iframe src="https://www.youtube.com/embed/zpcho2o4TI8" width="420" height="315" title="" frameborder="0"></iframe>
    </div>
  </div>

</div>
