<div class="widget experience-ticker">
  <div class="title">When experience matters</div>
  <div class="items">
    <div class="item">
      <div class="label"><span class="icon fal fa-hiking fa-fw"></span> Small Group Tours</div>
    </div>
    <div class="item">
      <div class="label"><span class="icon fa-light fa-umbrella-beach fa-fw"></span> Beach</div>
    </div>
    <div class="item">
      <div class="label"><i class="icon fa-regular fa-car-tilt fa-fw"></i> Racing</div>
    </div>
    <div class="item">
      <div class="label"><i class="icon fa-regular fa-campfire fa-fw"></i> Camping</div>
    </div>
    <div class="item">
      <div class="label"><span class="icon fa-light fa-person-biking-mountain fa-fw"></span> Mountain biking</div>
    </div>
    <div class="item">
      <div class="label"><span class="icon fa-light fa-umbrella-beach fa-fw"></span> Beach Hiking Activities</div>
    </div>
  </div>
</div>
