<div class="widget career-opportunities">
  <div class="wrapper wp">
    <h2>Current career opportunities</h2>

    <div class="opportunities">

      <a href="" class="link">
        <span class="inner" data-mh="even-height">
          <div class="title">Role Aenean title</div>
          <span class="right">
            <span class="location">Location, State</span>
            <span class="availability">Full-time</span>
            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
          </span>
        </span>
        <span class="mobile-arrow" data-mh="even-height">
          <span class="arrow"><i class="fas fa-chevron-right"></i></span>
        </span>
      </a>

      <a href="" class="link">
        <span class="inner" data-mh="even-height">
          <div class="title">Role Aenean title</div>
          <span class="right">
            <span class="location">Location, State</span>
            <span class="availability">Full-time</span>
            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
          </span>
        </span>
        <span class="mobile-arrow" data-mh="even-height">
          <span class="arrow"><i class="fas fa-chevron-right"></i></span>
        </span>
      </a>

      <a href="" class="link">
        <span class="inner" data-mh="even-height">
          <div class="title">Role Aenean title</div>
          <span class="right">
            <span class="location">Location, State</span>
            <span class="availability">Full-time</span>
            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
          </span>
        </span>
        <span class="mobile-arrow" data-mh="even-height">
          <span class="arrow"><i class="fas fa-chevron-right"></i></span>
        </span>
      </a>

      <a href="" class="link">
        <span class="inner" data-mh="even-height">
          <div class="title">Role Aenean title</div>
          <span class="right">
            <span class="location">Location, State</span>
            <span class="availability">Full-time</span>
            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
          </span>
        </span>
        <span class="mobile-arrow" data-mh="even-height">
          <span class="arrow"><i class="fas fa-chevron-right"></i></span>
        </span>
      </a>

      <a href="" class="link">
        <span class="inner" data-mh="even-height">
          <div class="title">Role Aenean title</div>
          <span class="right">
            <span class="location">Location, State</span>
            <span class="availability">Full-time</span>
            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
          </span>
        </span>
        <span class="mobile-arrow" data-mh="even-height">
          <span class="arrow"><i class="fas fa-chevron-right"></i></span>
        </span>
      </a>

      <a href="" class="link">
        <span class="inner" data-mh="even-height">
          <div class="title">Role Aenean title</div>
          <span class="right">
            <span class="location">Location, State</span>
            <span class="availability">Full-time</span>
            <span class="arrow"><i class="fas fa-chevron-right"></i></span>
          </span>
        </span>
        <span class="mobile-arrow" data-mh="even-height">
          <span class="arrow"><i class="fas fa-chevron-right"></i></span>
        </span>
      </a>

    </div>

    <div class="text-center">
      <div class="or">Or</div>
      <a href="#" class="button ui transparent primary">Send us your CV</a>
    </div>
  </div>
</div>
