<div class="widget discounts-offers">
  <div class="title">Book and pay by midnight 30 Jul 2019 and get 20% off!</div>
  <div class="counter-container">
    <div class="timer js-discounts-offers-timer" data-end="8 December 2025 15:45:00 GMT+10:00">
      <div class="timer-unit">
        <span data-timer-unit="days"></span>
        <div class="label">Days</div>
      </div>
      <div class="timer-unit">
        <span data-timer-unit="hours"></span>
        <div class="label">Hours</div>
      </div>
      <div class="timer-unit">
        <span data-timer-unit="minutes"></span>
        <div class="label">Mins</div>
      </div>
      <div class="timer-unit">
        <span data-timer-unit="seconds"></span>
        <div class="label">Secs</div>
      </div>
    </div>
  </div>
</div>
