@import "../../styles/includes/settings.scss";
@import "../../styles/includes/colours.scss";

.discounts-offers {
  margin-bottom: 20px;
  padding: 15px;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.4;

  .title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .counter-container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 7px;
  }

  .timer {
    display: flex;
    justify-content: center;
    position: relative;
    white-space: nowrap;

    .timer-unit {
      position: relative;
      width: 52px;
      text-align: center;
      line-height: 1;

      + .timer-unit::before {
        content: ":";
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        color: #929497;
      }

      [data-timer-unit] {
        white-space: nowrap;
        text-align: center;
        font-size: 23px;
        font-weight: 900;
        color: #fff;

        /* each digit */
        > span {
          display: inline-block;
          margin: 0 1px;
        }
      }

      /* Unit label, e.g. "Days", "Hours" */
      .label {
        display: block;
        margin-top: 5px;
        font-size: 12px;
        text-transform: uppercase;
        color: #929497;
      }
    }
  }
}
