{% set page_title = '404 page' %}
{% extends "src/views/main.njk" %}

{% block beforePusher %}

{% endblock %}

{% block beforeArticle %}
  {% include "src/widgets/header/header.njk" %}
  {% include "src/widgets/header-spacer/header-spacer.njk" %}
{% endblock %}

{% block article %}
  {% include "src/widgets/page-404/page-404.njk" %}

  <div class="wrapper page-404-widgets">
    {% include "src/widgets/products/products.njk" %}
    {% include "src/widgets/related-articles/related-articles.njk" %}
    {% include "src/widgets/view-all-cta/view-all-cta.njk" %}
  </div>
  {% include "src/widgets/cta-panel/cta-panel.njk" %}
{% endblock %}

{% block afterArticle %}
{% include "src/widgets/footer/footer.njk" %}
{% include "src/widgets/footer-brands/footer-brands.njk" %}

{% endblock %}

{% block scripts %}
  <script src="/scripts/404.js"></script>
{% endblock %}
