{% set page_title = 'ABC PDF package detail' %}
{% extends "src/views/main.njk" %}

{% block beforePusher %}

{% endblock %}

{% block beforeArticle %}
  <div class="print-logo">
    <div class="wrapper">
     <div class="logo-container">
         <a href="#" style="display:inline-block">
           <img src="images/etg.png" style="position: relative;width:auto"/>
         </a>
          <div class="website">
            <a href="https://www.entiretravel.com.au" class="button primary ui">View Package</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block article %}
  <div class="wrapper">
    <div class="widget package-hero">
      <a href="/peace-of-mind" class="banner" style="z-index:2;">
        <div class="inner">
          <div class="logo">
            <img class="desktop ls-is-cached lazyloaded" src="/images/pom-large.png" alt="">
            <img class="lazyload mobile" src="/images/pom-large.png" alt="">
          </div>
          <div class="copy">Entire guarantee, <br>your peace of mind booking plan</div>
          <svg class="svg-inline--fa fa-arrow-circle-right fa-w-16 icon" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="arrow-circle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm-28.9 143.6l75.5 72.4H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h182.6l-75.5 72.4c-9.7 9.3-9.9 24.8-.4 34.3l11 10.9c9.4 9.4 24.6 9.4 33.9 0L404.3 273c9.4-9.4 9.4-24.6 0-33.9L271.6 106.3c-9.4-9.4-24.6-9.4-33.9 0l-11 10.9c-9.5 9.6-9.3 25.1.4 34.4z"></path></svg><!-- <span class="fa fa-arrow-circle-right icon"></span> -->
        </div>
      </a>
      <img src="https://entiretravel.imgix.net/getmedia/b5b22da7-282c-4016-abd7-b2a4571ae27c/Manguri.jpg?auto=format" alt="The Ghan at Manguri">
      <div class="flex" style="display:block; z-index:2; bottom:30px;">
        <h1>
          The Ghan - Taste of the Top End
        </h1>
        <div class="code">(11560)</div>
        <div class="author" style="color:#FFF; margin-top:10px;">
          <span class="icon icon-pin"></span>The Ghan at Manguri
        </div>
      </div>
      <div class="grad" style="background-color:rgba(0,0,0,0.3); display:block; width:100%; top:0;
left:0; position:absolute; z-index:1; height:100%;"></div>
    </div>
    <div class="article-layout">
      <div class="main">
        <div class="widget package-intro">
          <div class="intro">
            Explore spectacular Litchfield National Park, see the famous jumping crocodiles along with a host of other popular Top End attractions before stepping aboard The Ghan Expedition in Darwin and experiencing the wonders of Katherine, Alice Springs and Coober Pedy on your way to Adelaide.
          </div>
          <div class="location">Australia / Rail</div>
          <div class="type">
            <div class="item">
              <span class="icon icon-nature"></span>Nature
            </div>
            <div class="item">
              <span class="icon icon-rail"></span>Rail
            </div>
          </div>
          <div class="type">
            <div class="item">
              <span class="icon icon-rail"></span>Rail Packages
            </div>
          </div>
        </div>
        <div class="widget package-highlights">
          <h3>Highlights</h3>
          <div class="highlight-container">
            <div class="item">
              <span class="icon fas fa-train"></span>
              <p>3 nights aboard
                <strong> The Ghan - </strong>Darwin to Adelaide.
              </p>
            </div>
            <div class="item">
              <span class="icon fas fa-camera"></span>
              <p>Enjoy exciting off-train experiences in Katherine, Alice Springs and Cooper Pedy.</p>
            </div>
            <div class="item">
              <span class="icon fas fa-camera"></span>
              <p>Discover the splendour of thundering falls, rainforest pockets and sacred historic sites of Litchfield National Park.</p>
            </div>
            <div class="item">
              <span class="icon fas fa-utensils"></span>
              <p>All-inclusive service whilst onboard The Ghan.</p>
            </div>
            <div class="item">
              <span class="icon fas fa-camera"></span>
              <p>Join a jumping croc adventure and get up close to the prehistoric crocodiles.&nbsp;</p>
            </div>
            <div class="item">
              <span class="icon fas fa-camera"></span>
              <p>Be amazed by the superb views across the Marrakai Plains and the Fogg Dam Conservation Reserve</p>
            </div>
          </div>
        </div>
        <div class="article-layout">
          <div class="package-section">
            <div class="widget" style="opacity: 1">
              <div class="copy">
                <div class="inner-copy">
                  <p>Spend the first 4 nights in Darwin - where you can explore this city at your own pace. Perhaps make your way down to the waterfront and enjoy the tropical Darwin weather.&nbsp;Much of Darwin&rsquo;s action happens along its revitalized waterfront,&nbsp;which is lined with restaurants,&nbsp;shops,&nbsp;sandy lagoons and parklands. You&#39;ll be taken on 2 days of exciting adventures up in Darwin, including the famous Litchfield National Park which is home to several stunning waterfalls that cascade into crystal clear pools and not to mention the&nbsp;iconic magnetic termite mounds!
                    <br />
                    <br />
                    Just 60km from Darwin lies the Adelaide River,&nbsp;home to more than 1600 crocodiles and the location of the famous Jumping Crocodiles. You will travel down the Stuart Highway to the Adelaide River where you will hop on a cruise along the river and witness these awesome creatures launch themselves out of the water.&nbsp;
                  </p>
                  <p>After your time in Darwin you will hop on the iconic Ghan which will take you on a journey of a lifetime down the famous north-south crossing of Australia. Onboard the Ghan all your meals and drinks are included so you just need to sit back, relax, and enjoy the journey. You will have some exciting off train experiences in Katherine, Alice Springs, and Cooper Pedy before you arrive in Adelaide where your adventure comes to an end.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="widget package-inclusions" style="page-break-inside: avoid">
          <div class="outer">
            <div class="inclusions">
              <h3>Included</h3>
              <div class="inclusion-container">
                <div class="item">
                  <span class="icon fas fa-bed"></span>
                  3 nights in Interlaken - 4* Hotel
                </div>
                <div class="item">
                  <span class="icon fas fa-bed"></span>
                  2 nights in Montreux - 4* Hotel
                </div>
                <div class="item">
                  <span class="icon fas fa-bed"></span>
                  2 nights in Zermatt - 4* Hotel
                </div>
                <div class="item">
                  <span class="icon fas fa-bed"></span>
                  2 nights in St. Moritz - 4* Hotel
                </div>
                <div class="item">
                  <span class="icon fas fa-bed"></span>
                  2 nights in Lugano - 4* Hotel
                </div>
                <div class="item">
                  <span class="icon fas fa-bed"></span>
                  2 nights in Lucerne - 4* Hotel
                </div>
                <div class="item">
                  <span class="icon fas fa-train"></span>
                  Seat Reservation in 2nd class for rail travel per itinerary:
                </div>
                <div class="item">
                  <span class="icon fas fa-train"></span>
                  GoldenPass Line from Zweisimmen to Montreux
                </div>
                <div class="item">
                  <span class="icon fas fa-train"></span>
                  Glacier Express from Zermatt to St. Moritz
                </div>
                <div class="item">
                  <span class="icon fas fa-train"></span>
                  Bernina Express train from St. Moritz to Tirano
                </div>
                <div class="item">
                  <span class="icon fas fa-train"></span>
                  Bernina Express bus from Tirano to Lugano
                </div>
                <div class="item">
                  <span class="icon fas fa-train"></span>
                  Upgrade to 1st Class on the Gotthard Panorama Express:
                </div>
                <div class="item">
                  <span class="icon fas fa-train"></span>
                  Gotthard Panorama Express from Lugano to Lucerne
                </div>
                <div class="item">
                  <span class="icon fas fa-utensils"></span>
                  Daily Breakfast
                </div>
                <div class="item">
                  <span class="icon fas fa-camera"></span>
                  Jungfraujoch mountain excursion
                </div>
                <div class="item">
                  <span class="icon fas fa-camera"></span>
                  Interlaken Walking Tour
                </div>
                <div class="item">
                  <span class="icon fas fa-camera"></span>
                  Ballenberg Open Air Museum
                </div>
                <div class="item">
                  <span class="icon fas fa-camera"></span>
                  Wine tasting experience in the Lavaux
                </div>
                <div class="item">
                  <span class="icon fas fa-tag"></span>
                  50% discount on additional local rail tickets
                </div>
                <div class="item">
                  <span class="icon fas fa-tag"></span>
                  50% discount on some mountain excursions
                </div>
                <div class="item">
                  <span class="icon fas fa-tag"></span>
                  Swiss Coupon Pass
                </div>
                <div class="item">
                  <span class="icon fas fa-tag"></span>
                  Guest Cards in Interlaken, Montreux, St.Moritz, Lugano, and Lucerne
                </div>
              </div>
            </div>
            <div class="additional">
              <h3>Freedom of Choice</h3>
              <p>For this package we have included&nbsp;<strong>Freedom of Choice</strong> days in the itinerary. Our per person price includes one tour on each Freedom of Choice day.</p>
              <p>Pre-select one tour&nbsp;on the following days:</p>
              <ul>
                <li>One &quot;Freedom of Choice&quot; tour on <strong>day 5</strong>&nbsp;</li>
                <li>One &quot;Freedom of Choice&quot; tour on <strong>day 7&nbsp;</strong></li>
                <li>One &quot;Freedom of Choice&quot; tour on <strong>day 13&nbsp;</strong></li>
              </ul>
              <p>Expand the itinerary below for more details.</p>
              <p>&nbsp;</p>
              <h3>Optional Extras:</h3>
              <ul>
                <li>Upgrade to 1st Class rail for an additional $282 per person.</li>
                <li>Please contact our team for upgrade pricing on meals on the Glacier Express!&nbsp;&nbsp;</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="widget package-itinerary">
          <div class="top">
            <h3>Itinerary</h3>
          </div>
          <div class="ui styled accordion">
            <div class="title active">
              <div class="day">Day 1</div>
              <div class="heading">Darwin</div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content active">
              <div class="inner-content">
                <p>You&#39;ve arrived in Darwin - it&#39;s yours to explore. Spend the day at your leisure before checking in to&nbsp;your accommodation.&nbsp;</p>
                <p>Overnight stay in
                  <strong>Darwin </strong>at
                  <strong>Vibe Hotel Darwin Waterfront</strong>
                </p>
                <div class="image">
                  <img src="https://entiretravel.imgix.net/getmedia/36575c19-35a9-4545-9c65-df293742024c/Darwin-2-650x365.jpg?auto=format" alt="Darwin">
                  <div class="grad"></div>
                  <div class="caption">
                    <span class="icon icon-pin"></span>Darwin
                  </div>
                </div>
              </div>
            </div>
            <div class="title active">
              <div class="day">Day 2</div>
              <div class="heading">Darwin </div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content active">
              <div class="inner-content">
                <p>
                  <strong>Litchfield National Park</strong> contains several types of typical Top End habitats including lush monsoon forests, termite mounds, unusual rock formations, waterfalls and cascades.
                </p>
                <p>First stop of the day is
                  <strong>Florence Falls</strong>, where you have the opportunity for a scenic and interpretive bush and monsoon vine forest walk. There is also the chance for a swim by making your way down the stairs to the plunge pool below.
                </p>
                <p>Travel on to
                  <strong>Tolmer Falls </strong>for a magnificent view of the water cascading down to the deep waterhole at the base of the falls.
                </p>
                <p>To finish the day, you will visit
                  <strong>Wangi Falls</strong>, with its large crystal clear pool, another relaxing spot for a swim. A great day for taking many fascinating photos, including the amazing stand of termite mounds.
                </p>
                <p>Overnight stay in
                  <strong>Darwin </strong>at
                  <strong>Vibe Hotel Darwin Waterfront</strong>.
                </p>
                <div class="inclusions">
                  <div class="item">
                    <span class="icon fas fa-utensils"></span>
                    Breakfast, Lunch

                  </div>
                </div>
                <div class="image">
                  <img src="https://entiretravel.imgix.net/getmedia/c59844d9-8fe2-4028-88ed-6b2e5dc2da71/Litchfield-National-Park-650x365.jpg?auto=format" alt="Darwin ">
                  <div class="grad"></div>
                  <div class="caption">
                    <span class="icon icon-pin"></span>Wangi Fallls at Litchfield National Park
                  </div>
                </div>
              </div>
            </div>
            <div class="title active">
              <div class="day">Day 3</div>
              <div class="heading">Darwin</div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content active">
              <div class="inner-content">
                <p>Today is yours to explore Darwin at your own pace. Take in a spot of souvenir shopping or simply relax at your accommodation.</p>
                <p>
                  <strong>Optional Extra:</strong>
                </p>
                <ul>
                  <li>
                    <strong>Charles Darwin Sunset Buffet Dinner Cruise&nbsp;</strong>- ask our friendly team for more details on this
                  </li>
                </ul>
                <p>Overnight stay in
                  <strong>Darwin </strong>at
                  <strong>Vibe Hotel Darwin Waterfront</strong>
                </p>
                <div class="inclusions">
                  <div class="item">
                    <span class="icon fas fa-utensils"></span>
                    Breakfast

                  </div>
                </div>
                <div class="image">
                  <img src="https://entiretravel.imgix.net/getmedia/1b0e8efa-717d-41f3-b659-e1e0b3b7241a/Darwin-Harbour-650x365.jpg?auto=format" alt="Darwin">
                  <div class="grad"></div>
                  <div class="caption">
                    <span class="icon icon-pin"></span>Darwin Harbour
                  </div>
                </div>
              </div>
            </div>
            <div class="title active">
              <div class="day">Day 4</div>
              <div class="heading">Darwin</div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content active">
              <div class="inner-content">
                <p>This morning is free for you to explore Darwin at your leisure. Perhaps make your way down to the waterfront and enjoy the tropical Darwin weather. Much of Darwin&rsquo;s action happens along its revitalised waterfront, which is lined with restaurants, shops, sandy lagoons and parklands.</p>
                <p>This afternoon, your
                  <strong>jumping croc adventure</strong> begins. Just 60km from Darwin lies the Adelaide River, home to more than 1600 crocodiles and the location of the famous Jumping Crocodiles. Travel down the Stuart Highway to the Adelaide River. Cruise the river and thrill as these awesome creatures launch themselves out of the water. The cruise will enable you to see these prehistoric creatures at close range.
                </p>
                <p>Afterwards, continue to the
                  <strong>Window on the Wetlands Visitor Centre</strong> for views over the Marrakai Plains, and then it&rsquo;s onto
                  <strong>Fogg Dam Nature Reserve</strong> to see a wetland ecosystem up close.
                </p>
                <p>Overnight stay in
                  <strong>Darwin </strong>at
                  <strong>Vibe Hotel Darwin Waterfront</strong>
                </p>
                <div class="inclusions">
                  <div class="item">
                    <span class="icon fas fa-utensils"></span>
                    Breakfast

                  </div>
                </div>
                <div class="image">
                  <img src="https://entiretravel.imgix.net/getmedia/084aeb52-9b48-413d-baa1-e82d8347f94d/Jumping-Crocodiles-650x365.jpg?auto=format" alt="Darwin">
                  <div class="grad"></div>
                  <div class="caption">
                    <span class="icon icon-pin"></span>Jumping Crocodile
                  </div>
                </div>
              </div>
            </div>
            <div class="title active">
              <div class="day">Day 5</div>
              <div class="heading">Ghan Journey: Darwin → Katherine</div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content active">
              <div class="inner-content">
                <p>This morning it&#39;s time to board The Ghan.</p>
                <p>Settle in as you relax in your cabin or mingle with fellow travellers in the Outback Explorer Lounge. Enjoy lunch on board before you arrive in Katherine for your Off Train Excursion. In a region renowned for jaw-dropping natural assets, Katherine boasts one of the Top End&#39;s best - the incredible Nitmiluk Gorge.&nbsp;</p>
                <ul>
                  <li>
                    <strong>Off Train Experiene&nbsp;in Katherine.</strong>
                  </li>
                </ul>
                <p>Overnight stay aboard
                  <strong>The Ghan.</strong>
                </p>
                <p>
                  <em>&nbsp;All-inclusive Australian wines, beers, base spirits and non-alcoholic beverages</em>
                </p>
                <div class="inclusions">
                  <div class="item">
                    <span class="icon fas fa-utensils"></span>
                    Breakfast, Lunch, Dinner

                  </div>
                </div>
                <div class="image">
                  <img src="https://entiretravel.imgix.net/getmedia/051eb3c3-5218-42cf-9419-95a9585f47d1/Nitmiluk-Gorge-650x365.jpg?auto=format" alt="Ghan Journey: Darwin → Katherine">
                  <div class="grad"></div>
                  <div class="caption">
                    <span class="icon icon-pin"></span>Nitmiluk Gorge
                  </div>
                </div>
              </div>
            </div>
            <div class="title active">
              <div class="day">Day 6</div>
              <div class="heading">Ghan Journey: Katherine → Alice Springs</div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content active">
              <div class="inner-content">
                <p>After breakfast, you&#39;ll arrive into
                  <strong>Alice Springs</strong>, with plenty of time to explore the iconic town in the red heart of Australia. Prepare for a day of fascinating&nbsp;excursions and, in the evening, dine under a million stars.&nbsp;
                </p>
                <ul>
                  <li>
                    <strong>Off Train Experiene&nbsp;in Alice Springs.</strong>
                  </li>
                </ul>
                <p>Overnight stay aboard
                  <strong>The Ghan.</strong>
                </p>
                <p>
                  <em>&nbsp;All-inclusive Australian wines, beers, base spirits and non-alcoholic beverages</em>
                </p>
                <div class="inclusions">
                  <div class="item">
                    <span class="icon fas fa-utensils"></span>
                    Breakfast, Lunch, Dinner

                  </div>
                </div>
                <div class="image">
                  <img src="https://entiretravel.imgix.net/getmedia/f4d2b4fe-8042-4fe9-a13d-b117e1c3f6ad/Alice-Springs-650x365.jpg?auto=format" alt="Ghan Journey: Katherine → Alice Springs">
                  <div class="grad"></div>
                  <div class="caption">
                    <span class="icon icon-pin"></span>Alice Springs
                  </div>
                </div>
              </div>
            </div>
            <div class="title active">
              <div class="day">Day 7</div>
              <div class="heading">Ghan Journey: Alice Springs → Coober Pedy</div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content active">
              <div class="inner-content">
                <p>When you next disembark in remote Manguri, you&#39;ll enjoy a full day exploring the amazing opal mining township of Coober Pedy.</p>
                <p>Overnight stay aboard
                  <strong>The Ghan.</strong>
                </p>
                <ul>
                  <li>
                    <strong>Off Train Experience&nbsp;in Coober Pedy.</strong>
                  </li>
                </ul>
                <p>
                  <em>&nbsp;All-inclusive Australian wines, beers, base spirits and non-alcoholic beverages</em>
                </p>
                <div class="inclusions">
                  <div class="item">
                    <span class="icon fas fa-utensils"></span>
                    Breakfast, Lunch, Dinner

                  </div>
                </div>
                <div class="image">
                  <img src="https://entiretravel.imgix.net/getmedia/3f60a393-6047-42c1-b17a-69c93a7a02e9/Coober-Pedy-650x365.jpg?auto=format" alt="Ghan Journey: Alice Springs → Coober Pedy">
                  <div class="grad"></div>
                  <div class="caption">
                    <span class="icon icon-pin"></span>Coober Pedy
                  </div>
                </div>
              </div>
            </div>
            <div class="title active">
              <div class="day">Day 8</div>
              <div class="heading">Ghan Journey: Coober Pedy → Adelaide</div>
              <i class="dropdown icon"></i>
            </div>
            <div class="content active">
              <div class="inner-content">
                <p>After completing the famous north-south crossing of Australia&#39;s interior, you will arrive into Adelaide where your adventure comes to an end.&nbsp;</p>
                <div class="inclusions">
                  <div class="item">
                    <span class="icon fas fa-utensils"></span>
                    Breakfast

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="widget package-additional-information">
          <h3>Additional information</h3>

          <div class="table">
            <div class="item">
              <div class="heading">Official language</div>
              <div class="value">Spanish</div>
            </div>
            <div class="item">
              <div class="heading">Local Currency</div>
              <div class="value">Euro (€)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="side">
        <div class="widget departures-pricing no-flight" style="opacity: 1;">

          <form method="post" action="/enquire/11611" class="ui form">
            <div class="inner">
              <div class="set">
                <label for="">Destinations</label>
                <div class="value">Switzerland</div>
              </div>
              <div class="set">
                <label for="">Travel Departs</label>
                <div class="value">Interlaken</div>
              </div>
              <div class="set">
                <label for="">Travel Ends</label>
                <div class="value">Lucerne</div>
              </div>
              <div class="set">
                <label for="">Experiences</label>
                <div class="value">Nature, Rail</div>
              </div>
              <div class="set">
                <label for="">Travel Style</label>
                <div class="value">Independent Holiday Packages</div>
              </div>
              <div class="set">
                <label for="">Travel Periods</label>
                <div class="value">01 May 2021 ‐ 30 Sept 2021</div>
              </div>

            </div>
            <div class="response-container"></div>
            <div class="submit-row">
              <button class="ui button submit primary" type="submit">Enquire now</button>
            </div>
          </form>
        </div>
    </div>
    </div>
    <div class="widget package-hotels">
        <div class="wrapper">
          <h3>Hotel options</h3>
          <div class="hotels" style="display: block;">
            <div class="gr-10">
              <div class="gc-4-12 gc-768-4-12 gc-1024-4-12">
                <div class="image">
                  <img src="https://entiretravel.imgix.net/getmedia/21d3aa29-2ee9-4d28-87cf-f48675224e84/Vibe-Hotel-Darwin.png?auto=format" alt="">
                </div>
                <div class="name">Vibe Hotel Darwin Waterfront</div>
                <p>
                  <strong>Darwin</strong>
                  <br />
                  Perfectly positioned amongst the entertainment and dining hub of Darwin&rsquo;s seafront promenade, this picturesque location will make you feel right at home. No matter how you spend your day, Vibe Hotel Darwin Waterfront is the perfect place to retreat to; dive into the refreshing waters of the pool, enjoy some delicious cuisine or a refreshing drink in Curve Restaurant and Bar, or withdraw to your private, comfortable hotel room.
                </p>
              </div>
            </div>
          </div>
          <div class="extras">
            <h3>Optional Extras</h3>
            <p>Upgrade to Platinum service aboard The Ghan.</p>
            <p>Features of Platinum:</p>
            <ul>
              <li>Spacious double or twin cabin almost twice the size of a Gold Service twin cabin</li>
              <li>Outback experiences</li>
              <li>Panoramic windows offering views from both sides of the train</li>
              <li>Access to the exclusive Platinum Club for dining and socialising</li>
              <li>Freshly prepared continental breakfast served upon request in-cabin</li>
              <li>Refreshments served in cabin</li>
              <li>Australian Appelles Apothecary toiletries</li>
              <li>Haigh&rsquo;s chocolates &amp;&nbsp;Bollinger champagne</li>
              <li>Nightcap at turndown</li>
              <li>90kg checked in luggage (60kg in Gold Service)</li>
              <li>Private transfers at the start/end of your journey (within 60km)</li>
            </ul>
            <div class="note">
              <p>
                <b>Important notes</b>
              </p>
              <ul>
                <li>Advertised &ldquo;from price&rdquo; is based on &lsquo;ADVANCE PURCHASE&rsquo; Rail Journey Fares and must be paid in full at time of booking. Pricing varies on each departure and is subject to availability. Please enquire with our team for exact pricing, upgrade options and departure dates.</li>
                <li>We work with a selection of hotels in each location. All bookings are subject to availability, which means our team will confirm your specific hotels upon confirmation and payment of deposit. The package price is based on 4-star accommodation.</li>
              </ul>
              <h3>Exclusions</h3>
              <ul>
                <li>Flights -&nbsp;Please contact our team to add flights onto this package.&nbsp;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <div class="widget partnership-with-new">
      <h3>In partnership with</h3>

      <div class="images">
        <div class="item">
          <img class="lazyload" data-src="images/partnership-logo.png" alt="">
        </div>
        <div class="item">
          <img class="lazyload" data-src="images/partnership-logo.png" alt="">
        </div>
        <div class="item">
          <img class="lazyload" data-src="images/partnership-logo.png" alt="">
        </div>
      </div>

      <div class="disclaimer">Donec efficitur quam ut nunc feugiat varius. Cras semper molestie suscipit. Aliquam ullamcorper dapibus nisi vitae nisl nisl, id ornare estretra ornare elementum.
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/abcpdf-package-detail-html.js"></script>
{% endblock %}
