{% set page_title = 'DEMO ICONS' %}
{% extends "src/views/main.njk" %}

{% block beforePusher %}
{% endblock %}

{% block beforeArticle %}
{% include "src/widgets/new-header/new-header.njk" %}
{% include "src/widgets/breadcrumbs/breadcrumbs.njk" %}
{% endblock %}

{% block article %}


<div class="wrapper">
  <div>
    <h3>Font awesome icons</h3>
    <p>ETG includes the font awesome pro 6 library. <a href="https://fontawesome.com/search">https://fontawesome.com/search</a></p>
    <p>Here are the font awesome icons that I could find in the Figma designs.</p>
  </div>

  <ol style="display: grid; grid-gap:40px; grid-template-columns: 1fr 1fr; margin: 40px 0;">
    <li>
      <code>&lt;i class="fa-light fa-umbrella-beach"&gt;</code><br>
      <i class="fa-2xl fa-light fa-umbrella-beach"></i> Beach
    </li>

    <li>
      <code>&lt;i class="fa-light fa-ship"&gt;</code><br>
      <i class="fa-2xl fa-light fa-ship"></i> Cruising
    </li>

    <li>
      <code>&lt;i class="fa-light fa-utensils"&gt;</code><br>
      <i class="fa-2xl fa-light fa-utensils"></i> Food & Wine
    </li>

    <li>
      <code>&lt;i class="fa-light fa-masks-theater"&gt;</code><br>
      <i class="fa-2xl fa-light fa-masks-theater"></i> Cultural
    </li>

    <li>
      <code>&lt;i class="fa-light fa-person-hiking"&gt;</code><br>
      <i class="fa-2xl fa-light fa-person-hiking"></i> Walk & Hike
    </li>

    <li>
      <code>&lt;i class="fa-light fa-person-biking"&gt;</code><br>
      <i class="fa-2xl fa-light fa-person-biking"></i> Cycling
    </li>

    <li>
      <code>&lt;i class="fa-light fa-shield-cross"&gt;</code><br>
      <i class="fa-2xl fa-light fa-shield-cross"></i> Battlefields
    </li>

    <li>
      <code>&lt;i class="fa-light fa-train-tunnel"&gt;</code><br>
      <i class="fa-2xl fa-light fa-train-tunnel"></i> Iconic Rail
    </li>

    <li>
      <code>&lt;i class="fa-light fa-castle"&gt;</code><br>
      <i class="fa-2xl fa-light fa-castle"></i> Luxury
    </li>

    <li>
      <code>&lt;i class="fa-light fa-person-skiing"&gt;</code><br>
      <i class="fa-2xl fa-light fa-person-skiing"></i> Snow & Ski
    </li>

    <li>
      <code>&lt;i class="fa-light fa-spa"&gt;</code><br>
      <i class="fa-2xl fa-light fa-spa"></i> Wellness
    </li>

    <li>
      <code>&lt;i class="fa-light fa-steering-wheel"&gt;</code><br>
      <i class="fa-2xl fa-light fa-steering-wheel"></i> Self-drive
    </li>

    <li>
      <code>&lt;i class="fa-light fa-tree-city"&gt;</code><br>
      <i class="fa-2xl fa-light fa-tree-city"></i> City Stay
    </li>

    <li>
      <code>&lt;i class="fa-light fa-family"&gt;</code><br>
      <i class="fa-2xl fa-light fa-family"></i> Family
    </li>

    <li>
      <code>&lt;i class="fa-light fa-house-water"&gt;</code><br>
      <i class="fa-2xl fa-light fa-house-water"></i> Overwater
    </li>

    <li>
      <code>&lt;i class="fa-light fa-rings-wedding"&gt;</code><br>
      <i class="fa-2xl fa-light fa-rings-wedding"></i> Honeymoon
    </li>

    <li>
      <code>&lt;i class="fa-light fa-hotel"&gt;</code><br>
      <i class="fa-2xl fa-light fa-hotel"></i> Villas
    </li>

    <li>
      <code>&lt;i class="fa-light fa-paw"&gt;</code><br>
      <i class="fa-2xl fa-light fa-paw"></i> Wildlife
    </li>

    <li>
      <code>&lt;i class="fa-light fa-bed-front"&gt;</code><br>
      <i class="fa-2xl fa-light fa-bed-front"></i> Accommodation
    </li>

    <li>
      <code>&lt;i class="fa-light fa-utensils"&gt;</code><br>
      <i class="fa-2xl fa-light fa-utensils"></i> Meals
    </li>

    <li>
      <code>&lt;i class="fa-light fa-bus-simple"&gt;</code><br>
      <i class="fa-2xl fa-light fa-bus-simple"></i> Transport
    </li>

    <li>
      <code>&lt;i class="fa-light fa-plane-engines"&gt;</code><br>
      <i class="fa-2xl fa-light fa-plane-engines"></i> Flights
    </li>

    <li>
      <code>&lt;i class="fa-light fa-van-shuttle"&gt;</code><br>
      <i class="fa-2xl fa-light fa-van-shuttle"></i> Escorted
    </li>
  </ol>

</div>

{% endblock %}

{% block afterArticle %}
{% include "src/widgets/new-footer/new-footer.njk" %}
{% endblock %}

{% block scripts %}
<script src="scripts/package-detail.js"></script>
{% endblock %}
