  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
{% include "src/widgets/hotel-builder/hotel-builder.njk" %}

<script src="/scripts/runtime.js"></script>
<script src="/scripts/global.js"></script>
<script src="/scripts/hotelbuilder.js"></script>