{% set page_title = 'Index' %}
{% extends "src/views/main.njk" %}


{% block beforePusher %}

{% endblock %}

{% block beforeArticle %}

{% endblock %}

{% block article %}

<h1 class="visually-hidden">Visually hidden page heading</h1>
  <div class="wrapper">
    <h3>Other</h3>
    <a href="demo-icons.html">Demo icons</a><br>
    <a href="package-detail-pdf-generation.html">Package detail [Print styles]</a><br>

    <h3>Homepage</h3>
    <a href="homepage.html">Homepage</a><br>
    <a href="new-homepage.html">Homepage (NEW)</a><br>

    <h3>Pages</h3>
    <a href="new-brochures.html">Brochures (NEW)</a><br>
    <a href="new-destination.html">Destination (NEW)</a><br>
    <a href="new-experience.html">Experience (NEW)</a><br>
    <a href="new-travel-type.html">Travel type (NEW)</a><br>
    <a href="new-travel-type-detail.html">Travel type detail (NEW)</a><br>
    <a href="package-detail.html">Package detail</a><br>
    <a href="package-detail-completed-booking.html">Package detail [Completed Booking]</a><br>
    <a href="booking.html">Booking</a><br>
    <a href="booking-paid-thankyou.html">Booking Thank you (Paid by credit cart)</a><br>
    <a href="booking-other-thankyou.html">Booking Thank you (Other payment options)</a><br>
    <a href="booking-quote-thankyou.html">Booking Thank you (Create client quote)</a><br>
    <a href="pay-now.html">Pay now</a><br>
    <br>
    <a href="new-search.html">Search (NEW)</a><br>
    <a href="new-search.html?showFilters">Search (NEW) (Show filters on page load)</a><br>
    <a href="find-a-package.html">Find a package</a><br>
    <a href="contact-us.html">Contact us</a><br>
    <a href="enquire-now.html">Enquire now</a><br>
    <a href="faqs.html">FAQs</a><br>
    <a href="careers.html">Careers</a><br>
    <a href="career-description.html">Career description</a><br>
    <a href="articles.html">Articles</a><br>
    <a href="article-detail.html">Article detail</a><br>
    <a href="destination-experts.html">Destination experts</a><br>
    <a href="destination-expert-detail.html">Destination expert detail</a><br>
    <a href="primary-landing.html">Primary landing</a><br>
    <a href="landing-page.html">Landing page</a><br>
    <a href="brochures.html">Brochures</a><br>
    <a href="experiences.html">Experiences</a><br>
    <a href="travel-deals.html">Travel deals</a><br>
    <a href="abcpdf-package-detail-html.html">abcpdf package detail</a><br>
    <a href="flipstack.html">flipstack</a><br>
    <a href="agent-portal.html">Agent Portal</a><br>

    <h3>System</h3>
    <a href="404.html">404</a><br>
    <a href="500.html">500</a><br>

    <h3>Widget preview</h3>
    <a href="new-widget-customer-reviews.html">Reviews widget (NEW)</a><br>

    <h3>Form</h3>
    <div class="ui form">
      <div class="ktc-default-section">
        <div class="form-field">
          <label class="control-label" for="form-Campaign-d6a9_FirstName_Value">First Name</label>
          <div class="editing-form-control-nested-control">
            <input class="form-control" data-ktc-notobserved-element="" id="form-Campaign-d6a9_FirstName_Value" name="form-Campaign-d6a9.FirstName.Value" type="text" value="" />
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.FirstName.Value" data-valmsg-replace="true"></div>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.FirstName" data-valmsg-replace="true"></div>
          </div>
        </div>
        <div class="form-field">
          <label class="control-label" for="form-Campaign-d6a9_LastName_Value">Last Name</label>
          <div class="editing-form-control-nested-control">
            <input class="form-control" data-ktc-notobserved-element="" id="form-Campaign-d6a9_LastName_Value" name="form-Campaign-d6a9.LastName.Value" type="text" value="" />
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.LastName.Value" data-valmsg-replace="true"></div>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.LastName" data-valmsg-replace="true"></div>
          </div>
        </div>

        <div class="form-field">
          <label class="control-label" for="form-Campaign-8b34_DropDown_SelectedValue">Drop-down list</label>

          <div class="editing-form-control-nested-control">

            <select class="form-control" data-ktc-notobserved-element="" id="form-Campaign-8b34_DropDown_SelectedValue" name="form-Campaign-8b34.DropDown.SelectedValue"><option value="Option 1">Option 1</option>
              <option value="Option 2">Option 2</option>
            </select>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-8b34.DropDown.SelectedValue" data-valmsg-replace="true"></div><div class="field-validation-valid" data-valmsg-for="form-Campaign-8b34.DropDown" data-valmsg-replace="true"></div>
          </div>

        </div>
        <div class="form-field">
          <label class="control-label" for="form-Campaign-d6a9_EmailInput_Email">Email</label>
          <div class="editing-form-control-nested-control">
            <input class="form-control" data-ktc-notobserved-element="" id="form-Campaign-d6a9_EmailInput_Email" name="form-Campaign-d6a9.EmailInput.Email" type="email" value="" />
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.EmailInput.Email" data-valmsg-replace="true"></div>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.EmailInput" data-valmsg-replace="true"></div>
          </div>
        </div>
        <div class="form-field">
          <label class="control-label" for="form-Campaign-d6a9_AgreetoTerms_Value">Agree to T&amp;C&#39;s</label>
          <div class="editing-form-control-nested-control">
      <span class="ktc-checkbox" title="">
      <input class="form-control" data-ktc-notobserved-element="" data-val="true" data-val-required="The Value field is required." id="form-Campaign-d6a9_AgreetoTerms_Value" name="form-Campaign-d6a9.AgreetoTerms.Value" type="checkbox" value="true" /><input name="form-Campaign-d6a9.AgreetoTerms.Value" type="hidden" value="false" />
      <label for="form-Campaign-d6a9_AgreetoTerms_Value">&nbsp;</label>
      </span>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.AgreetoTerms.Value" data-valmsg-replace="true"></div>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.AgreetoTerms" data-valmsg-replace="true"></div>
          </div>
        </div>
        <div class="form-field">
          <label class="control-label">Radio buttons</label>
          <div class="editing-form-control-nested-control">
      <span class="ktc-radio ktc-radio-list">
      <span class="ktc-radio">
      <input class="form-control" data-ktc-notobserved-element="" id="form-Campaign-d6a9.RadioButtonsOption 1" name="form-Campaign-d6a9.RadioButtons.SelectedValue" type="radio" value="Option 1" />
      <label for="form-Campaign-d6a9.RadioButtonsOption 1">Option 1</label>
      </span>
      <span class="ktc-radio">
      <input class="form-control" data-ktc-notobserved-element="" id="form-Campaign-d6a9.RadioButtonsOption 2" name="form-Campaign-d6a9.RadioButtons.SelectedValue" type="radio" value="Option 2" />
      <label for="form-Campaign-d6a9.RadioButtonsOption 2">Option 2</label>
      </span>
      </span>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.RadioButtons.SelectedValue" data-valmsg-replace="true"></div>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.RadioButtons" data-valmsg-replace="true"></div>
          </div>
        </div>
        <div class="form-field">
          <label class="control-label" for="form-Campaign-d6a9_TextArea_Value">Tell us in 10 words</label>
          <div class="editing-form-control-nested-control">
      <textarea class="form-control" cols="20" data-ktc-notobserved-element="" id="form-Campaign-d6a9_TextArea_Value" name="form-Campaign-d6a9.TextArea.Value" rows="2">
</textarea>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.TextArea.Value" data-valmsg-replace="true"></div>
            <div class="field-validation-valid" data-valmsg-for="form-Campaign-d6a9.TextArea" data-valmsg-replace="true"></div>
          </div>
        </div>
      </div>
      <input type="submit" value="Submit">
    </div>

  </div>
{% endblock %}
