<div class="widget explore-destinations wp">
  <div class="wrapper">
    <h2>Explore our destinations</h2>

    <div class="carousel">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Italy</div>
              </div>
              <div class="overlay">
                <div class="title">Italy</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination1.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">France</div>
              </div>
              <div class="overlay">
                <div class="title">France</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Spain</div>
              </div>
              <div class="overlay">
                <div class="title">Spain</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination1.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Portugal</div>
              </div>
              <div class="overlay">
                <div class="title">Portugal</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Switzerland</div>
              </div>
              <div class="overlay">
                <div class="title">Switzerland</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Canada</div>
              </div>
              <div class="overlay">
                <div class="title">Canada</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination1.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Alaska</div>
              </div>
              <div class="overlay">
                <div class="title">Alaska</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">New<br>Caledonia</div>
              </div>
              <div class="overlay">
                <div class="title">New<br>Caledonia</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination1.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Tahiti</div>
              </div>
              <div class="overlay">
                <div class="title">Tahiti</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Maldives</div>
              </div>
              <div class="overlay">
                <div class="title">Maldives</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Malta</div>
              </div>
              <div class="overlay">
                <div class="title">Malta</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <div class="inner">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination1.png?auto=format&w=300&h=250&fit=crop" alt="">
                <div class="gradient"></div>
                <div class="title">Monaco</div>
              </div>
              <div class="overlay">
                <div class="title">Monaco</div>
                <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
