<div class="widget career-callout wp">
  <div class="wrapper">
    <div class="inner">
      <p class="lead">Suspendisse ut orci eu libero mollis ultricies nec ac justo. Donec dictum dui sit amet mi ultrices venenatis. Aliquam erat volutpat. Integer sem orci, efficitur ac ipsum vitae, fringilla efficitur neque.</p>

      <p>Integer vitae arcu faucibus, egestas sem nec, venenatis nisl. Integer nec lobortis erat. In ultricies consequat elit, eget volutpat dolor faucibus ut. Vestibulum maximus a erat a tempor. Suspendisse ut orci eu libero mollis ultricies nec ac justo. Donec dictum dui sit amet mi ultrices venenatis. Aliquam erat volutpat. Integer sem orci, efficitur ac ipsum vitae, fringilla efficitur neque.</p>

      <div class="button-container">
        <a href="#" class="button ui white primary vacancies-trigger">View our vacancies</a>
        <a href="#" class="button ui transparent white primary">Send us your CV</a>
      </div>
    </div>
  </div>
</div>
