<div class="widget phone-cta-panel">
  <img class="bg lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
  <div class="tint"></div>
  <div class="wrapper">
    <div class="content">
      <div class="col">
        <h2>Prefer speaking on the phone?</h2>
        <p>Ut a turpis purus. Aliquam hendrerit risus sit amet ornare rutrum. Nunc ac aliquet nibh. Maecenas at nulla mi. Ut id augue fermentum orci convallis fermentum ac sed justo. Nulla nec tortor lorem. Curabitur sed luctus felis, sed iaculis dolor. </p>

        <a href="#" class="button ui transparent primary">Meet our italy destination experts</a>
      </div>

      <div class="col">
        <div class="heading">Our Italy Destination Experts are ready to help!</div>
        <div class="hours">Opening hours are from 9:00am - 5:30pm, Monday to Friday</div>
        <a href="tel:1300858795"><span class="icon fas fa-phone"></span>1300 858 795</a>
      </div>
    </div>
  </div>
</div>
