<div class="widget information-accordion">
  <div class="top">
    <h3>Itinerary</h3>
    <div class="expander expand">
      <span class="copy down">Expand</span>
      <span class="copy up">Collapse</span>
      &nbsp;all days
      <span class="icon fas down fa-chevron-down"></span>
      <span class="icon fas up fa-chevron-up"></span>
    </div>
  </div>
  <div class="ui styled accordion">
    <div class="title">
      <div class="heading">Arrival in Lamezia Terme</div>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
      <div class="inner-content">
        <p>After breakfast, departure to Pizzo Calabro. Pizzo, one of the most beautiful and famous fishing villages with a historical center, characterized for the narrow Streets and small squares. Here you will visit the small church of Piedigrotta that has been built inside a cave and it is located on the beach, among the sea. Then you will have a break to taste the famous Tartufo ice cream, which is famous all over the world. Dinner and overnight at the hotel.</p>
        <div class="inclusions">
          <div class="item">
            <span class="icon fas fa-utensils"></span>
            Breakfast, Dinner
          </div>
          <div class="item">
            <span class="icon fas fa-utensils"></span>
            Breakfast, Dinner
          </div>
        </div>

        <div class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/accordion-img.jpg?auto=format" alt="">
          <div class="grad"></div>
          <div class="caption"><span class="icon icon-pin"></span>Santa Maria dell’Isola, Tropea - Photo: J SMith</div>
        </div>
      </div>
    </div>
    <div class="title">
      <div class="heading">Pizzo</div>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
      <div class="inner-content">
        <p>After breakfast, departure to Pizzo Calabro. Pizzo, one of the most beautiful and famous fishing villages with a historical center, characterized for the narrow Streets and small squares. Here you will visit the small church of Piedigrotta that has been built inside a cave and it is located on the beach, among the sea. Then you will have a break to taste the famous Tartufo ice cream, which is famous all over the world. Dinner and overnight at the hotel.</p>
        <div class="inclusions">
          <div class="item">
            <span class="icon fas fa-utensils"></span>
            Breakfast, Dinner
          </div>
          <div class="item">
            <span class="icon fas fa-utensils"></span>
            Breakfast, Dinner
          </div>
        </div>

        <div class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/accordion-img.jpg?auto=format" alt="">
          <div class="grad"></div>
          <div class="caption"><span class="icon icon-pin"></span>Santa Maria dell’Isola, Tropea - Photo: J SMith</div>
        </div>
      </div>
    </div>
    <div class="title">
      <div class="heading">Trioea abd Caoi Vaticano</div>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
      <div class="inner-content">
        <p>After breakfast, departure to Pizzo Calabro. Pizzo, one of the most beautiful and famous fishing villages with a historical center, characterized for the narrow Streets and small squares. Here you will visit the small church of Piedigrotta that has been built inside a cave and it is located on the beach, among the sea. Then you will have a break to taste the famous Tartufo ice cream, which is famous all over the world. Dinner and overnight at the hotel.</p>
        <div class="inclusions">
          <div class="item">
            <span class="icon fas fa-utensils"></span>
            Breakfast, Dinner
          </div>
          <div class="item">
            <span class="icon fas fa-utensils"></span>
            Breakfast, Dinner
          </div>
        </div>

        <div class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/accordion-img.jpg?auto=format" alt="">
          <div class="grad"></div>
          <div class="caption"><span class="icon icon-pin"></span>Santa Maria dell’Isola, Tropea - Photo: J SMith</div>
        </div>
      </div>
    </div>
    <div class="title">
      <div class="heading">Free day</div>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
      <div class="inner-content">
        <p>After breakfast, departure to Pizzo Calabro. Pizzo, one of the most beautiful and famous fishing villages with a historical center, characterized for the narrow Streets and small squares. Here you will visit the small church of Piedigrotta that has been built inside a cave and it is located on the beach, among the sea. Then you will have a break to taste the famous Tartufo ice cream, which is famous all over the world. Dinner and overnight at the hotel.</p>
        <div class="inclusions">
          <div class="item">
            <span class="icon fas fa-utensils"></span>
            Breakfast, Dinner
          </div>
          <div class="item">
            <span class="icon fas fa-utensils"></span>
            Breakfast, Dinner
          </div>
        </div>

        <div class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/accordion-img.jpg?auto=format" alt="">
          <div class="grad"></div>
          <div class="caption"><span class="icon icon-pin"></span>Santa Maria dell’Isola, Tropea - Photo: J SMith</div>
        </div>
      </div>
    </div>
  </div>
</div>
