<a id="faqZone"></a>
<div class="widget package-accordion">
  <div class="wrapper">

    <!-- NOTE apply CSS class `.top--content-inline` to keep heading and link displaying inline on all devices -->
    <div class="top top--content-inline">
      <h2>FAQs</h2>
      <a href="faqs.html" class="button ui primary transparent down">View All</a>
    </div>

    <div class="ui styled fluid accordion faqs-accordion">

      <!-- Accordion panel -->
      <div class="accordion-panel">
        <div class="title">
          <h3 class="heading">Question 1</h3>
          <i class="dropdown icon"></i>
        </div>
        <div class="content">
          <div class="inner-content">
            <p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Curabitur
              blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac
              consectetur ac, vestibulum at eros.
            </p>
          </div>
        </div>
      </div>
      <!-- END Accordion panel -->

      <!-- Accordion panel -->
      <div class="accordion-panel">
        <div class="title">
          <h3 class="heading">Question 2</h3>
          <i class="dropdown icon"></i>
        </div>
        <div class="content">
          <div class="inner-content">
            <p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Curabitur
              blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac
              consectetur ac, vestibulum at eros.
            </p>
          </div>
        </div>
      </div>
      <!-- END Accordion panel -->

      <!-- Accordion panel -->
      <div class="accordion-panel">
        <div class="title">
          <h3 class="heading">Question 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aperiam, atque blanditiis consequunturritatis.</h3>
          <i class="dropdown icon"></i>
        </div>
        <div class="content">
          <div class="inner-content">
            <p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Curabitur
              blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac
              consectetur ac, vestibulum at eros.
            </p>
          </div>
        </div>
      </div>
      <!-- END Accordion panel -->

    </div>
  </div>
</div>
