<div class="widget feefo wp">
  <div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service"></div>
{#  <div id="feefo-service-review-widgetId" class="feefo-review-widget-service"></div>#}
{#  <div id="feefo-product-review-widgetId" class="feefo-review-widget-product" data-product-sku="product-search-code"></div>#}
{#  <div id="feefo-product-review-widgetId" class="feefo-review-widget-product" data-product-sku="product-search-code"></div>#}
</div>
