<div class="widget products wp">
  <div class="wrapper">
    <h2>Heading lorem</h2>

    <div class="product-tiles-container">
      <div class="carousel">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "src/widgets/view-all-cta/view-all-cta.njk" %}


  </div>
</div>
