<div class="widget new-brochure-listing">
  <div class="wrapper">
    <h1>brochures</h1>

    <div>
      <div class="order-cta">
        <div class="heading">
          Travel agents
          <a href="#" class="ui primary outline button">Order at tifs</a>
        </div>
        <div class="description">
          If you would like us to post you a brochure, please email <a href="mailto:brochures@entiretravel.com.au">brochures@entiretravel.com.au</a> with the name of the brochure and your mailing address.
          If you would like us to post you a brochure, please email <a href="mailto:brochures@entiretravel.com.au">brochures@entiretravel.com.au</a> with the name of the brochure and your mailing address.
        </div>
      </div>
    </div>

    <div class="list">
      <div class="item">
        <a href="#">
          <div class="image"><img src="http://placehold.it/210x240" alt="Image description"></div>
          <div class="content">
            <h3>French Travel Connection 2019 Brochure</h3>
            <div class="ui primary outline button">View now</div>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="image"><img src="http://placehold.it/210x240" alt="Image description"></div>
          <div class="content">
            <h3>French Travel Connection 2019 Brochure</h3>
            <div class="ui primary outline button">View now</div>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="image"><img src="http://placehold.it/210x240" alt="Image description"></div>
          <div class="content">
            <h3>French Travel Connection 2019 Brochure</h3>
            <div class="ui primary outline button">View now</div>
          </div>
        </a>
      </div>
      <div class="item">
        <div class="coming-soon">
          <div class="image"><img src="http://placehold.it/210x240" alt="Image description"></div>
          <div class="content">
            <h3>French Travel Connection 2019 Brochure</h3>
            <div class="ui primary outline button">Coming soon</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>