<div class="widget package-offer">
  <div class="top">Get up to 20% off</div>
  <div class="bottom">
    <div class="title">CIT Italy Offer</div>
    <p>Receive 10% off the 28 Sep 2019 departure.</p>

    <p>Book by 31 Aug 2019</p>
  </div>
</div>
