<div class="widget brochure-listing">
  <div class="top">
    <div class="wrapper">
      <div class="article-layout">
        <div class="main">
          <h1>Brochures</h1>
          <p>Add brochures to your ‘cart’ - either Email or Post - and ‘order’ them in one go. If you’ve selected “Add to email”, you will receive a single email with all the relevant brochure links in it; if you’ve selected “Add to post”, you’ll receive all in a single postal delivery.</p>

          <div class="email-brochure">
            <div class="icon mail fas fa-envelope"></div>
            <div class="label">Brochures to email (<span>0</span>)</div>
            <div class="ui form generic-form" data-validate-inline="data-validate-inline" data-validate-on="submit" data-endpoint="api/response-message.json" data-method="GET">
              <input type="hidden" class="added-brochures" name="brochures">

              <div class="response-container"></div>

             <button type="submit" class="submit"><div class="icon fas fa-paper-plane"></div></button>
            </div>
          </div>
        </div>
        <div class="side">
          <div class="order-brochure">
            <h4>Are you a travel agent?</h4>
            <a href="#" class="ui button">Order your brochures here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom wp">
    <div class="wrapper">
      <div class="brochure-list">
        <div class="item" data-brochure="1">
          <div class="inner">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
            </div>
            <div class="content">
              <div class="title">French travel connection 2019 brochure</div>
              <a href="#brochureUrl1" target="_blank" class="button primary ui transparent small brochure-gate-trigger">View</a>
              <a href="#" class="button primary ui transparent small toggle-add">
                <span class="add"><span class="icon fas fa-plus"></span> Add to email</span>
                <span class="remove"><span class="icon fas fa-minus"></span> Remove</span>
              </a>
            </div>
          </div>
        </div>
        <div class="item" data-brochure="2">
          <div class="inner">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
            </div>
            <div class="content">
              <div class="title">French travel connection 2019 brochure</div>
              <a href="#brochureUrl2" target="_blank" class="button primary ui transparent small brochure-gate-trigger">View</a>
              <a href="#" class="button primary ui transparent small toggle-add">
                <span class="add"><span class="icon fas fa-plus"></span> Add to email</span>
                <span class="remove"><span class="icon fas fa-minus"></span> Remove</span>
              </a>
            </div>
          </div>
        </div>
        <div class="item" data-brochure="3">
          <div class="inner">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
            </div>
            <div class="content">
              <div class="title">French travel connection 2019 brochure</div>
              <a href="#brochureUrl3" target="_blank" class="button primary ui transparent small brochure-gate-trigger">View</a>
              <a href="#" class="button primary ui transparent small toggle-add">
                <span class="add"><span class="icon fas fa-plus"></span> Add to email</span>
                <span class="remove"><span class="icon fas fa-minus"></span> Remove</span>
              </a>
            </div>
          </div>
        </div>
        <div class="item" data-brochure="4">
          <div class="inner">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
            </div>
            <div class="content">
              <div class="title">French travel connection 2019 brochure</div>
              <a href="#brochureUrl4" target="_blank" class="button primary ui transparent small brochure-gate-trigger">View</a>
              <a href="#" class="button primary ui transparent small toggle-add">
                <span class="add"><span class="icon fas fa-plus"></span> Add to email</span>
                <span class="remove"><span class="icon fas fa-minus"></span> Remove</span>
              </a>
            </div>
          </div>
        </div>
        <div class="item" data-brochure="5">
          <div class="inner">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
            </div>
            <div class="content">
              <div class="title">French travel connection 2019 brochure</div>
              <a href="#brochureUrl5" target="_blank" class="button primary ui transparent small brochure-gate-trigger">View</a>
              <a href="#" class="button primary ui transparent small toggle-add">
                <span class="add"><span class="icon fas fa-plus"></span> Add to email</span>
                <span class="remove"><span class="icon fas fa-minus"></span> Remove</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
