<div class="widget footer-brands">
  <div class="copy">The Entire Travel Group used to be known by the individual brands as shown below. The company has not changed, but they have amalgamated under one brand - Entire Travel Group.</div>
  <div class="container">
    <div class="brands">
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/BTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/CATC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/FTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/ITC_MainLogo_Horizontal-resized.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/SPTC_MainLogo_Horizontal-resized.png?auto=format" alt="Spain">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/MTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/NCTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/SWTC_MainLogo_Horizontal-resized.png?auto=format" alt="Switzerland">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/TTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/BTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/CATC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/FTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/ITC_MainLogo_Horizontal-resized.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/SPTC_MainLogo_Horizontal-resized.png?auto=format" alt="Spain">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/MTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/NCTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/SWTC_MainLogo_Horizontal-resized.png?auto=format" alt="Switzerland">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/TTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/BTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/CATC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/FTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/ITC_MainLogo_Horizontal-resized.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/SPTC_MainLogo_Horizontal-resized.png?auto=format" alt="Spain">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/MTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/NCTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/SWTC_MainLogo_Horizontal-resized.png?auto=format" alt="Switzerland">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" width="1" height="1" data-src="https://etg-uat.imgix.net/ETG/media/assets/Images/TTC_MainLogo_Horizontal.png?auto=format" alt="">
          </div>

        </div>
      </div>
{#      <div class="swiper-container">#}
{#        <div class="swiper-wrapper">#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-spain.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-spain.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#          <div class="swiper-slide">#}
{#            <img class="lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/brand-switzerland.png?auto=format" alt="">#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
    </div>
  </div>

</div>
