<div class="widget homepage-hero-search">

  <div class="endpoints">
    <div class="destinations-endpoint" data-endpoint="https://entire-travel.getsandbox.com/search-filters/destinations"></div>
    <div class="experiences-endpoint" data-endpoint="https://entire-travel.getsandbox.com/search-filters/experiences"></div>
    <div class="travel-styles-endpoint" data-endpoint="https://entire-travel.getsandbox.com/search-filters/travel-styles"></div>
    <div class="start-locations-endpoint" data-endpoint="https://entire-travel.getsandbox.com/search-filters/start-locations"></div>
    <div class="end-locations-endpoint" data-endpoint="https://entire-travel.getsandbox.com/search-filters/end-locations"></div>
  </div>

  <div class="top">
    <div class="bg">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=375&h=1000&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=600&h=1000&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=768&h=1000&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1024&h=1000&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1920&h=1000&fit=crop&auto=format 1920w
          " alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=375&h=1000&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=600&h=1000&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=768&h=1000&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1024&h=1000&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1920&h=1000&fit=crop&auto=format 1920w
          " alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=375&h=1000&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=600&h=1000&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=768&h=1000&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1024&h=1000&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1920&h=1000&fit=crop&auto=format 1920w
          " alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="tint"></div>

    <div class="center">
      <h1>Holiday packages</h1>
      <div class="search-fields ui form">
        <div class="row">
          <div class="col">
            <div class="ui fluid search selection dropdown destination-dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">All Destinations</div>
              <div class="menu">
                <div class="item" data-value="Africa">Africa</div>
                <div class="item" data-value="Australia">Australia</div>
                <div class="item" data-value="Cambodia">Cambodia</div>
                <div class="item" data-value="Canada">Canada</div>
                <div class="item" data-value="Cook Islands">Cook Islands</div>
                <div class="item" data-value="Croatia">Croatia</div>
                <div class="item" data-value="Fiji">Fiji</div>
                <div class="item" data-value="France">France</div>
                <div class="item" data-value="Italy">Italy</div>
                <div class="item" data-value="Japan">Japan</div>
                <div class="item" data-value="Maldives">Maldives</div>
                <div class="item" data-value="Monaco">Monaco</div>
                <div class="item" data-value="Morocco">Morocco</div>
                <div class="item" data-value="New Caledonia">New Caledonia</div>
                <div class="item" data-value="New Zealand">New Zealand</div>
                <div class="item" data-value="Portugal">Portugal</div>
                <div class="item" data-value="Samoa">Samoa</div>
                <div class="item" data-value="Scandinavia">Scandinavia</div>
                <div class="item" data-value="Singapore">Singapore</div>
                <div class="item" data-value="Slovenia">Slovenia</div>
                <div class="item" data-value="Spain">Spain</div>
                <div class="item" data-value="Sri Lanka">Sri Lanka</div>
                <div class="item" data-value="Switzerland">Switzerland</div>
                <div class="item" data-value="Tahiti">Tahiti</div>
                <div class="item" data-value="Thailand">Thailand</div>
                <div class="item" data-value="United States">United States</div>
                <div class="item" data-value="Vanuatu">Vanuatu</div>
                <div class="item" data-value="Vietnam">Vietnam</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="ui fluid search selection dropdown experience-dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">All Experiences</div>
              <div class="menu">
                <div class="item" data-value="Battlefields"><span class="icon icon-battlefields"></span>Battlefields</div>
                <div class="item" data-value="Beach Holidays"><span class="icon icon-beach-holliday"></span>Beach Holidays</div>
                <div class="item" data-value="Cultural"><span class="icon icon-cultural"></span>Cultural</div>
                <div class="item" data-value="Cycling"><span class="icon icon-cycling"></span>Cycling</div>
                <div class="item" data-value="Family"><span class="icon icon-family"></span>Family</div>
                <div class="item" data-value="Food &amp Wine"><span class="icon icon-food-wine"></span>Food &amp Wine</div>
                <div class="item" data-value="Honeymoon"><span class="icon icon-honeymoon"></span>Honeymoon</div>
                <div class="item" data-value="Luxury"><span class="icon icon-luxury"></span>Luxury</div>
                <div class="item" data-value="Overwater"><span class="icon icon-over-water"></span>Overwater</div>
                <div class="item" data-value="Rail"><span class="icon icon-rail"></span>Rail</div>
                <div class="item" data-value="Self-Drive"><span class="icon icon-self-drive"></span>Self-Drive</div>
                <div class="item" data-value="Snow &amp; Ski"><span class="icon icon-winter"></span>Snow &amp; Ski</div>
                <div class="item" data-value="Solo Travel"><span class="icon icon-active"></span>Solo Travel</div>
                <div class="item" data-value="Villas"><span class="icon icon-luxury"></span>Villas</div>
                <div class="item" data-value="Walking &amp; Hiking"><span class="icon icon-active"></span>Walking &amp; Hiking</div>
                <div class="item" data-value="Wellness"><span class="icon icon-wellness"></span>Wellness</div>
                <div class="item" data-value="Wildlife"><span class="icon icon-nature"></span>Wildlife</div>
              </div>
            </div>

          </div>
          <div class="col">
            <div class="ui fluid search selection dropdown travel-styles-dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">All Travel Styles</div>
              <div class="menu">
                <div class="item" data-value="Independent Holiday Packages">Independent Holiday Packages</div>
                <div class="item" data-value="Private Escorted Tours">Private Escorted Tours</div>
                <div class="item" data-value="Iconic Train Journeys">Iconic Train Journeys</div>
                <div class="item" data-value="Active Holiday Packages">Active Holiday Packages</div>
                <div class="item" data-value="Barge Cruising">Barge Cruising</div>
                <div class="item" data-value="Ocean Cruising">Ocean Cruising</div>
                <div class="item" data-value="River Cruising">River Cruising</div>
                <div class="item" data-value="Self-Drive Cruising">Self-Drive Cruising</div>
              </div>
            </div>
          </div>
        </div>
        <div class="advanced-search">
          <div class="row">
            <div class="col">
              <label for="startDate">Earliest Holiday Package start date</label>
              <input id="startDate" type="text" class="calendar-start" placeholder="Select desired start date"/>
            </div>
            <div class="col">
              <label for="endDate">Latest Holiday Package end date</label>
              <input id="endDate" type="text" class="calendar-end" placeholder="Select desired end date"/>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Holiday Package start location</label>
              <div class="ui fluid search selection dropdown start-location-dropdown">
                <i class="dropdown icon"></i>
                <div class="default text">Select desired start location</div>
                <div class="menu">
                  <div class="item" data-value="Location 1">Location 1</div>
                  <div class="item" data-value="Location 2">Location 2</div>
                  <div class="item" data-value="Location 3">Location 3</div>
                  <div class="item" data-value="Location 4">Location 4</div>
                  <div class="item" data-value="Location 5">Location 5</div>
                  <div class="item" data-value="Location 6">Location 6</div>
                  <div class="item" data-value="Location 7">Location 7</div>
                  <div class="item" data-value="Location 8">Location 8</div>
                  <div class="item" data-value="Location 9">Location 9</div>
                </div>
              </div>
            </div>

            <div class="col">
              <label>Holiday Package end location</label>
              <div class="ui fluid search selection dropdown end-location-dropdown">
                <i class="dropdown icon"></i>
                <div class="default text">Select desired end location</div>
                <div class="menu">
                  <div class="item" data-value="Location 1">Location 1</div>
                  <div class="item" data-value="Location 2">Location 2</div>
                  <div class="item" data-value="Location 3">Location 3</div>
                  <div class="item" data-value="Location 4">Location 4</div>
                  <div class="item" data-value="Location 5">Location 5</div>
                  <div class="item" data-value="Location 6">Location 6</div>
                  <div class="item" data-value="Location 7">Location 7</div>
                  <div class="item" data-value="Location 8">Location 8</div>
                  <div class="item" data-value="Location 9">Location 9</div>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <button type="button" class="ui primary button">Explore now</button>
            <button type="button" class="ui inverted transparent primary button toggle-advanced-search">Back to simple search</button>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button type="button" class="ui primary button">Explore now</button>
        <button type="button" class="ui transparent button toggle-advanced-search">Advanced search</button>
      </div>
    </div>


  </div>
  <div class="bottom">
    <div class="experience-list">
      <div class="title">When experience matters</div>

      <div class="list">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon icon-australia"></span> Small Group Tours asfwsergewr erg er</a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
