<div class="widget page-hero">
  <img class="lazyload bg" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
      <div class="center">
      <h1 class="hero-title">Africa</h1>
      <div class="image-subtitle">Africa, the second largest continent in the world, is an ultimate destination for those seeking adventure and want to experience the best of mother nature has to offer. It is a magical place, and each country has its own personality. </div>
    </div>  
  <!--<h1>
    <div class="icon-container"><span class="icon icon-food-wine-icon"></span></div>
    Page hero title lorem ipsum</br>Classic tour
  </h1>-->

  <div class="grad"></div>

  <div class="sub-container">
    <div class="actions">
      <a href="#" class="button ui white share-button"><span class="icon fas fa-share"></span>Share</a>
      <a href="#" class="button ui white photo-button"><span class="icon fas fa-images"></span>Photos</a>
    </div>

    <div class="author"><span class="icon icon-pin"></span>Santa Maria dell’Isola, Tropea - Photo: J Smith</div>
  </div>

  <div class="share-modal ui modal">
    <i class="close icon"><span class="fal fa-times"></span></i>
    <input type="text" class="url-holder" value="http://www.entireurl.com">
    <div class="links">
      <a href="#" class="button ui facebook"><span class="icon fab fa-facebook"></span>Facebook</a>
      <a href="#" class="button ui instagram"><span class="icon fab fa-instagram"></span>Instagram</a>
      <a href="#" class="button ui linkedin"><span class="icon fab fa-linkedin"></span>Linkedin</a>
      <a href="#" class="button ui twitter"><span class="icon fab fa-twitter"></span>Twitter</a>
      <a href="#" class="button ui pinterest"><span class="icon fab fa-pinterest"></span>Pinterest</a>
      <a href="#" class="button ui copy-link" data-content="Link copied!"><span class="icon icon-chain"></span>Copy Link</a>
    </div>
  </div>

  <div class="photo-modal ui modal">
    <i class="close icon"><span class="fal fa-times"></span></i>

    {% include "src/widgets/photo-gallery/photo-gallery.njk" %}

  </div>



</div>
