<div class="widget content-500">
  <div class="wrapper contained">
    <h1>Whoops, we may have encountered the bermuda Triangle</h1>

    <div class="triangle">&#8420;</div>

    <p class="lead">Be patient. We hope to be rescued shortly!</p>

    <p class="lead">For urgent enquiries, please contact us on <a href="#">admin@entiretravelgroup.com.au</a></p>

    <div class="sub">This is a 500 error</div>
  </div>
</div>
