<div class="widget package-brochure">
  <div class="image">
    <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
  </div>
  <div class="content">
    <div class="title">Italy Brochure</div>
    <a href="flipstack.html" target="_blank" class="button primary ui transparent small brochure-gate-trigger">View</a>
  </div>
</div>
