<div class="widget region-map">
  <div class="region-list">
    <div class="region"
         data-id="1"
         data-lat="-33.885286"
         data-lng="151.228062"
         data-region="Andalusia"
         data-summary="Vivamus rhoncus, tortor a facilisis ornare, dolor nulla feugiat odio, in mollis odio nisi eu dolor. Morbi turpis quam, viverra at euismod eget, egestas eu justo."
         data-url="#andalusia">
    </div>
    <div class="region"
         data-id="2"
         data-lat="-34.885284"
         data-lng="151.228062"
         data-region="Granada"
         data-summary="Vivamus rhoncus, tortor a facilisis ornare, dolor nulla feugiat odio, in mollis odio nisi eu dolor. Morbi turpis quam, viverra at euismod eget, egestas eu justo."
         data-url="#granada">
    </div>
  </div>
  <div class="map-container" data-cluster-image-small="images/cluster-pin.png" data-cluster-image-medium="images/cluster-pin.png" data-cluster-image-large="images/cluster-pin.png" data-close-image="images/close.svg" data-pin="images/map-pin.png">
    <div class="map-canvas"></div>
  </div>
</div>
