<div class="widget articles-section wp">
  <div class="wrapper">

    <h2>Travel Blogs & Guides</h2>

    <div class="copy">
      <p>Get inspired and give in to the thrill of adventure. There's no better time than now to experience a tropical getaway in Fiji or a gastronomic tour across Europe.</p>
    </div>

    <div class="articles">
      <a href="#" class="item">
        <span class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/related-article.jpg?auto=format" alt="">
        </span>
        <span class="location">Europe</span>
        <span class="title">Donec sed odio dui. Sed posuere consectetur est at lobortis. </span>
      </a>
      <a href="#" class="item">
        <span class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/related-article.jpg?auto=format" alt="">
        </span>
        <span class="location">Europe</span>
        <span class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quaerat quas repellat voluptates. </span>
      </a>
      <a href="#" class="item">
        <span class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/related-article.jpg?auto=format" alt="">
        </span>
        <span class="location">Europe</span>
        <span class="title">Accusamus blanditiis delectus fuga quia repellendus unde?</span>
      </a>
      <a href="#" class="item">
        <span class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/related-article.jpg?auto=format" alt="">
        </span>
        <span class="location">Europe</span>
        <span class="title">Eveniet minus mollitia nobis obcaecati rem, sequi ullam vitae voluptates. </span>
      </a>
    </div>

    {% include "src/widgets/view-all-cta/view-all-cta.njk" %}


  </div>
</div>
