<div class="widget featured-tiles wp">
  <div class="wrapper">
    <h2>Featured</h2>
{#    <div class="swiper-slide">#}
{#      <a href="#" class="item">#}
{#        <span class="border"></span>#}
{#        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">#}


{#        <span class="grad"></span>#}

{#        <span class="bottom">#}
{#                  <span class="title">New Caledonia</span>#}
{#                  <span class="copy">Packages for any budget from $1,299 pp twin share</span>#}
{#                  <span class="ui button primary">Search for your holiday</span>#}
{#                </span>#}
{#      </a>#}
{#    </div>#}
{#    <div class="swiper-slide">#}
{#      <a href="#" class="item">#}
{#        <span class="border"></span>#}
{#        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">#}




{#        <span class="grad"></span>#}


{#        <span class="bottom">#}
{#                  <span class="title">New Caledonia</span>#}
{#                  <span class="copy">Packages for any budget from $1,299 pp twin share</span>#}
{#                  <span class="ui button primary">Search for your holiday</span>#}
{#                </span>#}
{#      </a>#}
{#    </div>#}
{#    <div class="swiper-slide">#}
{#      <a href="#" class="item">#}
{#        <span class="border"></span>#}
{#        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">#}




{#        <span class="grad"></span>#}


{#        <span class="bottom">#}
{#                  <span class="title">New Caledonia</span>#}
{#                  <span class="copy">Packages for any budget from $1,299 pp twin share</span>#}
{#                  <span class="ui button primary">Search for your holiday</span>#}
{#                </span>#}
{#      </a>#}
{#    </div>#}
{#    <div class="swiper-slide">#}
{#      <a href="#" class="item">#}
{#        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">#}

{#        <span class="grad"></span>#}


{#        <span class="bottom">#}
{#                <span class="title">New Caledonia</span>#}
{#                <span class="copy">Packages for any budget from $1,299 pp twin share</span>#}
{#                <span class="ui button primary">Search for your holiday</span>#}
{#              </span>#}
{#      </a>#}
{#    </div>#}
{#    <div class="swiper-slide">#}
{#      <a href="#" class="item">#}
{#        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">#}


{#        <span class="grad"></span>#}


{#        <span class="bottom">#}
{#                <span class="title">New Caledonia</span>#}

{#                <span class="copy">Packages for any budget from $1,299 pp twin share</span>#}
{#                <span class="ui button primary">Search for your holiday</span>#}
{#              </span>#}
{#      </a>#}
{#    </div>#}
{#    <div class="swiper-slide">#}
{#      <a href="#" class="item">#}
{#        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?auto=format&w=400&h=400&fit=crop" alt="">#}


{#        <span class="grad"></span>#}


{#        <span class="bottom">#}
{#                <span class="title">New Caledonia from $1,299</span>#}
{#                <span class="copy">Packages for any budget from $1,299 pp twin share</span>#}
{#                <span class="ui button primary">Search for your holiday</span>#}
{#              </span>#}
{#      </a>#}
{#    </div>#}
    <div class="carousel">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="item">
              <span class="border"></span>
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">


              <span class="grad"></span>

              <span class="bottom">
                  <span class="title">New Caledonia</span>
                  <span class="copy">Packages for any budget from $1,299 pp twin share</span>
                  <span class="ui button primary">Search for your holiday</span>
                </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <span class="border"></span>
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">




              <span class="grad"></span>


              <span class="bottom">
                  <span class="title">New Caledonia</span>
                  <span class="copy">Packages for any budget from $1,299 pp twin share</span>
                  <span class="ui button primary">Search for your holiday</span>
                </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="item">
              <span class="border"></span>
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">




              <span class="grad"></span>


              <span class="bottom">
                  <span class="title">New Caledonia</span>
                  <span class="copy">Packages for any budget from $1,299 pp twin share</span>
                  <span class="ui button primary">Search for your holiday</span>
                </span>
            </a>
          </div>

          <div class="swiper-slide">
            <a href="#" class="item">
              <span class="border"></span>
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">




              <span class="grad"></span>


              <span class="bottom">
                  <span class="title">New Caledonia</span>
                  <span class="copy">Packages for any budget from $1,299 pp twin share</span>
                  <span class="ui button primary">Search for your holiday</span>
                </span>
            </a>
          </div>

          <div class="swiper-slide">
            <a href="#" class="item">
              <span class="border"></span>
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-tile-bg.jpg?w=400&h=400&fit=crop&auto=format" alt="">




              <span class="grad"></span>


              <span class="bottom">
                  <span class="title">New Caledonia</span>
                  <span class="copy">Packages for any budget from $1,299 pp twin share</span>
                  <span class="ui button primary">Search for your holiday</span>
                </span>
            </a>
          </div>




        </div>

      </div>
      <div class="swiper-button-prev"><svg width="20" height="36" viewBox="0 0 20 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.1262 35.6949L19.7041 34.1492C20.0986 33.7424 20.0986 33.0915 19.7041 32.7661L5.42407 18.0407L19.7041 3.2339C20.0986 2.90847 20.0986 2.25763 19.7041 1.85085L18.1262 0.305084C17.8107 -0.101696 17.1795 -0.101696 16.785 0.305084L0.29586 17.3085C-0.098617 17.7153 -0.0986171 18.2847 0.29586 18.6915L16.785 35.6949C17.1795 36.1017 17.8107 36.1017 18.1262 35.6949Z" fill="#CA568C"/>
        </svg>
      </div>
      <div class="swiper-button-next"><svg width="20" height="36" viewBox="0 0 20 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.87377 0.305085L0.295858 1.85085C-0.0986193 2.25763 -0.0986193 2.90847 0.295858 3.2339L14.5759 17.9593L0.295859 32.7661C-0.0986181 33.0915 -0.098618 33.7424 0.295859 34.1492L1.87377 35.6949C2.18935 36.1017 2.82051 36.1017 3.21499 35.6949L19.7041 18.6915C20.0986 18.2847 20.0986 17.7153 19.7041 17.3085L3.21499 0.305085C2.82051 -0.101695 2.18935 -0.101695 1.87377 0.305085Z" fill="#CA568C"/>
        </svg>
      </div>
    </div>


  </div>


</div>
