<div class="widget hotel-builder" data-endpoint="/api/hotel-builder.json" data-method="GET">
  <div class="wrapper">
    <div class="ui form">
      <div class="step-one">
        <div class="label">
          Travel Date
        </div>
        <div class="datepicker"></div>
        <div class="label">
          Hotel search
        </div>
        <input type="text" class="search-field" placeholder="Please enter keyword or country"/>

        <div class="checkboxes">
          <div class="label">Hotels</div>
          <div class="inner"></div>
          <div class="selected-hotels">
            <div class="label">Selected Hotels</div>
            <div class="inner-container"></div>
          </div>
        </div>
        <div class="buttons">
          <a href="#" class="ui button primary clear">Reset</a>
          <a href="#" class="ui button primary show-dropdowns">Submit</a>
        </div>
      </div>
      <div class="step-two">
        <div class="dropdowns"></div>
        <input type="hidden" id="hidHotelIds" />     
        <input type="hidden" id="hidNights" />        
      </div>
    </div>
  </div>
</div>
