<div class="widget homepage-hero-search" data-tour-indexname="TourUAT" data-search-url="/find-a-package.html">

  <div class="top">
    <div class="bg">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=375&h=1000&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=600&h=1000&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=768&h=1000&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1024&h=1000&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1920&h=1000&fit=crop&auto=format 1920w
          " alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=375&h=1000&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=600&h=1000&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=768&h=1000&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1024&h=1000&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1920&h=1000&fit=crop&auto=format 1920w
          " alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=375&h=1000&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=600&h=1000&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=768&h=1000&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1024&h=1000&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1920&h=1000&fit=crop&auto=format 1920w
          " alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="tint"></div>

    <div class="center">
      <h1>Holiday packages</h1>
      <div class="search-fields ui form">
        <div class="row">
          <div class="col">
            <div id="destinationMenu"></div>
 {#            <div class="ui fluid search selection dropdown destination-dropdown" id="destinationfilters">#}
 {#              <i class="dropdown icon"></i>#}
 {#              <div class="default text">All destinations</div>#}
  {#           </div>#}
  {#           <div class="clear-refinement" id="cleardestination"></div>#}
          </div>
          <div class="col">
            <div id="experienceMenu"></div>
 {#            <div class="ui fluid search selection dropdown experience-dropdown" id="experiencefilters">#}
 {#              <i class="dropdown icon"></i>#}
 {#              <div class="default text">All experiences</div>    #}          
 {#            </div>#}
 {#            <div class="clear-refinement" id="clearexperience"></div>#}
          </div>
          <div class="col">
              <div id="travelstyleMenu"></div>
 {#            <div class="ui fluid search selection dropdown travelstyle-dropdown" id="travelstylefilters">#}
 {#              <i class="dropdown icon"></i>#}
 {#              <div class="default text">All travel styles</div>   #}           
 {#            </div>#}
 {#            <div class="clear-refinement" id="cleartravelstyle"></div>#}
          </div>
          
        </div>
        <!--<div class="advanced-search">
          <div class="row">
            <div class="col">
              <label for="startDate">Earliest Holiday Package start date</label>
              <input id="startDate" type="text" class="calendar-start" placeholder="Select desired start date"/>
            </div>
            <div class="col">
              <label for="endDate">Latest Holiday Package end date</label>
              <input id="endDate" type="text" class="calendar-end" placeholder="Select desired end date"/>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Holiday Package start location</label>
              <div class="ui fluid search selection dropdown start-location-dropdown">
                <i class="dropdown icon"></i>
                <div class="default text">Select desired start location</div>
                <div class="menu">
                  <div class="item" data-value="Location 1">Location 1</div>
                  <div class="item" data-value="Location 2">Location 2</div>
                  <div class="item" data-value="Location 3">Location 3</div>
                  <div class="item" data-value="Location 4">Location 4</div>
                  <div class="item" data-value="Location 5">Location 5</div>
                  <div class="item" data-value="Location 6">Location 6</div>
                  <div class="item" data-value="Location 7">Location 7</div>
                  <div class="item" data-value="Location 8">Location 8</div>
                  <div class="item" data-value="Location 9">Location 9</div>
                </div>
              </div>
            </div>

            <div class="col">
              <label>Holiday Package end location</label>
              <div class="ui fluid search selection dropdown end-location-dropdown">
                <i class="dropdown icon"></i>
                <div class="default text">Select desired end location</div>
                <div class="menu">
                  <div class="item" data-value="Location 1">Location 1</div>
                  <div class="item" data-value="Location 2">Location 2</div>
                  <div class="item" data-value="Location 3">Location 3</div>
                  <div class="item" data-value="Location 4">Location 4</div>
                  <div class="item" data-value="Location 5">Location 5</div>
                  <div class="item" data-value="Location 6">Location 6</div>
                  <div class="item" data-value="Location 7">Location 7</div>
                  <div class="item" data-value="Location 8">Location 8</div>
                  <div class="item" data-value="Location 9">Location 9</div>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <button type="button" class="ui primary button search-button">Explore now</button>
            <button type="button" class="ui inverted transparent primary button toggle-advanced-search">Back to simple search</button>
          </div>
        </div>-->
      </div>
      <div class="buttons">
        <button type="button" class="ui primary button search-button">Explore now</button>
        <!--<button type="button" class="ui transparent button toggle-advanced-search">Advanced search</button>-->
      </div>
    </div>


  </div>
  <div class="bottom">
    <div class="experience-list">
      <div class="title">When experience matters</div>
      <div id="tour_hits"></div>
      <div class="list">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon icon-australia"></span> Small Group Tours asfwsergewr erg er</a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
