<div class="widget stats-side">
  <div class="set">
    <div class="label">Official language</div>
    <div class="value">Spanish</div>
  </div>
  <div class="set">
    <div class="label">Currency</div>
    <div class="value">Euro(€)</div>
  </div>
  <a href="#" class="button ui primary">View all spanish packages</a>
</div>
