<div class="widget single-column-richtext wp">
  <div class="wrapper">
    <p class="lead">Suspendisse ut orci eu libero mollis ultricies nec ac justo. Donec dictum dui sit amet mi ultrices venenatis. Aliquam erat volutpat. Integer sem orci, efficitur ac ipsum vitae, fringilla efficitur neque.</p>
    <p>Integer vitae arcu faucibus, egestas sem nec, venenatis nisl. Integer nec lobortis erat. In ultricies consequat elit, eget volutpat dolor faucibus ut. Vestibulum maximus a erat a tempor. Suspendisse ut orci eu libero mollis ultricies nec ac justo. Donec <a href="#">dui sit amet mi</a> ultrices venenatis. <b>Aliquam</b> erat volutpat. Integer sem orci, efficitur.</p>

    <a href="#" class="button ui primary transparent">Optional CTA</a>
  </div>
</div>
