<div class="widget read-more">
  <div class="copy">
    <div class="inner-copy">
      <p class="lead">Fusce gula, eget lacinia odio sem ne eget lacinia odio eget lacinia odio sem ne c eget lacinia odio sem ne elit.</p>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi eraommodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

      <div class="grad"></div>
    </div>
    <div class="read-more-button"><span class="down">Read more <span class="icon fas fa-chevron-down"></span></span><span class="up">Read less <span class="icon fas fa-chevron-up"></span></span></div>
  </div>
</div>
