<div class="widget package-detail-title">
  <div class="destination">Example destination</div>
  <h1 class="package-name">Moana Sands Lagoon Resort &amp; Tamanu Beach Resort <span class="tour-code">(Tour code: 11737)</span></h1>
</div>
