<div class="widget keep-reading">
  <h3>Keep reading</h3>
  <a href="#">
    <span class="image"><img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/keep-reading.jpg?auto=format" alt=""></span>
    <span class="location">Europe</span>
    <span class="title">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</span>
  </a>

  <a href="#">
    <span class="image"><img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/keep-reading.jpg?auto=format" alt=""></span>
    <span class="location">Europe</span>
    <span class="title">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</span>
  </a>
</div>
