<div class="widget photo-gallery">
  <!-- TODO fix thumbs slider navigation and update design (ask Cambo) -->
  <div class="main-carousel">
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
      </div>
    </div>
  </div>

  <div class="thumbnail-carousel">
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
      </div>
    </div>
  </div>
</div>
