<div class="widget partnership-with-new">
  <div class="top">
    <h2>In partnership</h2>
  </div>

  <div class="images">
    <div class="item">
      {% if is_pdf_generation === true %}
      <img src="images/partnership-logo.png" alt="">
      {% else %}
      <img class="lazyload" data-src="images/partnership-logo.png" alt="">
      {% endif %}
    </div>
    <div class="item">
      {% if is_pdf_generation === true %}
      <img src="images/partnership-logo.png" alt="">
      {% else %}
      <img class="lazyload" data-src="images/partnership-logo.png" alt="">
      {% endif %}
    </div>
    <div class="item">
      {% if is_pdf_generation === true %}
      <img src="images/partnership-logo.png" alt="">
      {% else %}
      <img class="lazyload" data-src="images/partnership-logo.png" alt="">
      {% endif %}
    </div>
  </div>

  <div class="disclaimer">
    Aliquam ullamcorper dapibus nisi vitae nisl nisl, id ornare estretra ornare elementum.
  </div>
</div>
