$colourPrimary: #ca568e;
$railway: 'Raleway', Arial, sans-serif;
$lato: 'Lato', Arial, sans-serif;

body {
  opacity: 1 !important;
  letter-spacing: 0.5px;
}

p {
  margin-top: 15px;
}

.ui.loading.loading.loading.loading.loading.loading.button {
  position: relative !important;
}

.widget {
  opacity: 0;
  transition: opacity .7s ease;
  transition-delay: 0.25s;
}

.wrapper .wrapper {
  padding: 0 !important;

  @media(min-width: 768px) {
    padding: 0 !important;
  }
}

.wrapper.contained {
  max-width: 780px;
  margin: 0 auto;
}

.wrapper.wide {
  max-width: 1500px;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  text-align: center;

  &.text-left {
    text-align: left;
  }
}


.wp {
  padding-top: 30px !important;
  padding-bottom: 30px !important;

  @media(min-width: 1025px) {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
}

.ui.dropdown > .dropdown.icon {
  font-family: 'icomoon' !important;
  margin-left: 5px !important;
}

.ui.dropdown > .dropdown.icon:before {
  content: "\e900" !important;
  color: $colourPrimary;
  font-size: 15px;
}


a:hover {
  text-decoration: none;
}

.ui.modal > .close {
  color: #000 !important;
  top: 0 !important;
  right: -7px !important;
  font-size: 20px !important;
}

.package-layout {

  .main {
    .side {
      margin-top: 40px;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      grid-area: sidebar;
      width: 100%;
    }

    .top {
      grid-area: top;
    }

    .bottom {
      grid-area: bottom;
    }

    display: grid;
    grid-template-areas:
      "top"
      "sidebar"
      "bottom";

    @media(min-width: 1024px) {
      gap: 40px;
      grid-template-columns: 1fr 320px;
      grid-template-areas:
        "top      sidebar"
        "bottom   sidebar";
    }

    @media(min-width: 1220px) {
      gap: 80px;
    }
  }
}

.article-layout {
  /* screen layout */
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 220px;
    grid-template-areas:
      "main   side"
      "bottom side";

    grid-column-gap: 40px;
  }

  @media screen and (min-width:1024px) {
    grid-template-columns: 1fr 280px;
    grid-column-gap: 120px;
  }

  /* print layout */
  @media print {}

  .main {
    grid-area: main;
  }

  .side {
    grid-area: side;

    @media(max-width:767px) {
      margin-top: 20px; /* space between side and main when stacking content */
    }
  }

  .bottom {
    grid-area: bottom;
  }
  /* END layout */

  .article-section {
    padding: 20px 0;
    border-top: 1px solid #ededed;

    @media(min-width: 1025px) {
      padding: 40px 0;
    }

    &:first-child {
      padding-top: 0;
      border-top: none;
    }

    h3 {
      font-family: $lato;
    }
  }

  &.article {
    .rich-text {
      padding-bottom: 40px;
    }

    .full-width-image,
    .side-by-side-images,
    .video {
      margin-bottom: 20px;

      @media(min-width:1024px) {
        padding-bottom: 40px;
      }
    }

    h2 {
      text-align: left;
      margin-top: 0 !important;
    }

    p {
      @media(min-width:1024px) {
        padding-right: 100px;
      }
    }
  }

  .package-section {
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;

    @media(min-width: 1025px) {
      padding: 40px 0;
    }
  }
}

.wp + .wp {
  padding-top: 0 !important;
}

.ui.accordion .active.title,
.ui.accordion .active.content,
.ui.accordion .animating {
  background-color: #ededed;
  transition: none;
}

.ui.accordion .content {
  padding: 20px !important;
  padding-bottom: 30px !important;
  padding-right: 30px !important;
}


.ui.accordion,
.ui.accordion .accordion {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.ui.styled.accordion > .title:first-child,
.ui.styled.accordion .accordion .title:first-child {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.styled.accordion {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.share-modal {
  background-color: #FFF;
  padding: 50px;
  position: relative;
  max-width: 280px;

  .links {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 10px;
      text-align: center;
      position: relative;

      &.facebook {
        background-color: #365C96;
      }

      &.instagram {
        background-color: #000;
      }

      &.linkedin {
        background-color: #0079B1;
      }

      &.twitter {
        background-color: #4BAEEA;
      }

      &.pinterest {
        background-color: #BF1B26;
      }

      &.copylink {
        background-color: #929497;
      }

      .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        font-size: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.grouped.fields {
  box: horizontal wrap !important;
  display: flex !important;

  .field {
    margin-right: 10px !important;
  }
}


.ui.form .field .prompt.label {
  border: none !important;
}

.text-center {
  text-align: center;
}

.quote {
  border-left: 2px solid $colourPrimary;
  padding-left: 20px;
  position: relative;
  margin-top: 50px;
  padding-right: 50px;

  @media(min-width: 768px) {
    padding-right: 80px;
  }

  .speech {
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    img {
      display: block;
      width: 100%;
    }
  }

  .copy {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    font-style: italic;
  }

  .author {
    margin-top: 10px;
  }
}


article ul:not(.slick-dots) {
  padding-left: 0;

  li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 20px;
    list-style-type: none;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      top: 0;
      color: #929497;
    }
  }
}

ul.bullet li::before {
  color: $colourPrimary;
}


.photo-modal {
  background-color: transparent !important;
  width: 90% !important;
  margin: 0 auto;
  max-width: 1200px !important;
}

.slick-disabled {
  opacity: 0.5 !important;
  cursor: default !important;
}

.ui.search > .results {
  width: auto !important;
  border-radius: 20px !important;
}

.info-window {
  margin: 0 auto;
  width: 70%;
  background-color: #FFF;
  color: #000;
  padding: 10px 40px 10px 10px;
  box-shadow: 0 0 5px rgba(#000, 0.3);

  @media(min-width: 768px) {
    width: 490px;
    padding: 20px 40px 20px 20px;
  }

  .button {
    width: 200px;
  }
}

.infoBox {
  & > img {
    margin-right: 65px !important;
    width: 15px;
    z-index: 1;
    @media(min-width: 768px) {
      margin-right: 0 !important;
    }
  }
}

.infoBox {
  border-radius: 5px;


  img {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .info-window {
    background-color: #FFF;
    position: relative;
    border-radius: 10px;
    padding: 30px 20px;

    @media(min-width: 768px) {
      padding: 30px;
    }

    .triangle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      @util triangle(20px, #FFF, down);
    }

    p {
      font-size: 14px;
    }

    h4 {
      font-weight: 600;
      margin: 0 !important;
      font-family: $lato;
      margin-bottom: 10px !important;
    }
  }
}

.print-logo {
  padding: 20px 0;
  background-color: #fff;

  svg {
    width: 150px;
    display: block;

    .pin {
      fill: #929497;
    }

    .main {
      fill: #000;
    }

    .shadow {
      fill: $colourPrimary;
    }

    .sub {
      fill: #929497;
    }
  }
}


.ktc-admin-ui [class*=" icon-"], .ktc-admin-ui [class^=icon-] {
  font-family: Core-icons !important;
}


.content-500 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  background-color: #ededed;
  padding: 40px 0;

  @media(min-width: 768px) {
    padding: 70px 0;
  }

  @media(min-width: 1025px) {
    padding: 100px 0;
  }
}


.jq-star {
  cursor: default;
}

.ktc-widget-body-wrapper .widget {
  opacity: 1 !important
}

h3 {
  font-weight: 500;
}

.ui.styled.accordion .title {
  @media(min-width: 1025px) {
    &:hover {
      .heading {
        text-decoration: underline;
      }
    }
  }
}


.spacer-20 {
  height: 20px;
  display: block;
}

.spacer-40 {
  height: 40px;
  display: block;
}

.spacer-60 {
  height: 60px;
  display: block;
}

.region-map {
  width: 100%;

  .map-container {
    width: 100%;

    .map-canvas {
      height: 280px;
      width: 100%;

      @media(min-width: 768px) {
        height: 370px;
      }

      @media(min-width: 1025px) {
        height: 450px;
      }
    }
  }
}

.ui.dropdown .menu > .item:hover {
  background-color: #f3f3f3 !important;
}

.ui.dropdown.selected, .ui.dropdown .menu .selected.item {
  background-color: #f8f8f8 !important;
  color: var(--primary-button-text);
}


.jq-star {
  margin: 0 1px;
}


.rheostat-marker {
  height: 0 !important;
}

.rheostat-handle {
  background-color: $colourPrimary !important;
  border-color: $colourPrimary !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) !important;

}

.ais-RangeSlider .rheostat-background {
  border: 1px solid #ededed !important;
  height: 10px !important;
  border-radius: 5px;
  background-color: #ededed !important;
}

.ais-RangeSlider .rheostat-progress {
  top: 3px !important;
  background-color: $colourPrimary !important;
}

.rheostat-value {
  display: none;
}

.rheostat-tooltip {
  display: none;
}

.pricerangeslider {
  margin-left: 14px;
  margin-top: 15px;
}

.ais-RangeSlider .rheostat {
  margin: 0 !important;
}

.ais-ToggleRefinement {
  .ais-ToggleRefinement-labelText {
    margin-left: 5px;
  }
}


.ais-Stats {
  color: inherit !important;
}

.ais-PoweredBy-text, .ais-Stats-text, .rheostat-tooltip, .rheostat-value {
  font-size: inherit !important;
}

.icon-set {
  display: none;
}

/* wrap in .widget to increase specificity to override vendor stylesheets */
.widget {
  .ais-Pagination {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ededed;
  }

  .ais-Pagination-link {
    border: 1px solid #ededed;
    background-color: #fff;
    color: $colourPrimary;

    &:focus,
    &:hover {
      border: 1px solid #ededed;
      background-color: #ededed;
      color: $colourPrimary;
    }
  }

  .ais-Pagination-item--selected .ais-Pagination-link {
    cursor: default;
    pointer-events: none;
    border: 1px solid #ededed;
    background-color: #ededed;
    color: #000;
  }

  .ais-Breadcrumb-link,
  .ais-HierarchicalMenu-link,
  .ais-Menu-link,
  .ais-RatingMenu-link {
    color: $colourPrimary;
  }
}



iframe.flipstack {
  height: 480px;

  @media(min-width: 768px) {
    height: 500px;
  }

  @media(min-width: 1025px) {
    height: 900px;
  }
}


.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown {
  border-color: #ededed !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
  color: $colourPrimary !important;
}

.ui.radio.checkbox input:checked ~ .box:after, .ui.radio.checkbox input:checked ~ label:after {
  background-color: $colourPrimary !important;
}

.ui.checkbox input:focus ~ .box:before, .ui.checkbox input:focus ~ label:before {
  border-color: #D4D4D5 !important;
}

input {
  caret-color: $colourPrimary;
  letter-spacing: 0.5px;
}

::-webkit-input-placeholder { /* Edge */
  color: #ccc !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc !important;
}

::placeholder {
  color: #ccc !important;
}

.ais-ToggleRefinement {
  color: #333 !important;
}

.ais-ToggleRefinement-label {
  display: flex;
  align-items: center;
  flex-direction: row;
}


.read-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;

  .icon {
    margin-right: 5px;
  }
}


.clamp2 {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
}

.clamp3 {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
}

.clamp3 {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
}


.url-holder {
  position: absolute;
  opacity: 0;
  left: -1000000px;
  top: -1000000px;
}


.ktc-default-section {
  .ktc-radio {
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;

    input {
      margin-right: 5px;
      width: 17px;
      height: 17px;
      position: relative;
    }

    input[type='radio']:after {
      width: 17px;
      height: 17px;
      border-radius: 17px;
      top: -1px;
      left: -1px;
      position: absolute;
      background-color: #FFF;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid #d1d3d1;
      z-index: 1;
    }

    input[type='radio']:checked:before {
      width: 7px;
      height: 7px;
      border-radius: 7px;
      top: -2px;
      left: 4px;
      position: relative;
      background-color: $colourPrimary;
      content: '';
      display: inline-block;
      visibility: visible;
      z-index: 5;
    }

  }

  .ktc-checkbox {
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;

    input {
      margin-right: 5px;
    }
  }


  .form-field {
    margin-bottom: 10px;
  }

}

.ui.form {

  margin-bottom: 40px;

  input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    font-size: 12px;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', Arial, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 14px 30px;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 1000px;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    background-color: #CA568E;
    color: #FFF;
    border: 2px solid #CA568E;
    -webkit-appearance: button;
    transition: all 0.3s ease;

    @media(min-width: 1025px) {
      &:hover {
        background-color: #000;
        border: 2px solid #000;
      }
    }
  }
}


.ais-SearchBox-form {
  max-width: 420px !important;
}

.ais-SearchBox-reset {
  right: 15px !important;
}

.page-hero ~ div .html-widget-container {
  margin-top: 30px;

  @media(min-width:1024px) {
    margin-top: 70px;
  }
}

.html-widget-container {
  margin-bottom: 30px;

  @media(min-width:1024px) {
    margin-bottom: 70px;
  }
}

.visible-mobile {
  @media(min-width: 768px) {
    display: none;
  }
}

.hide-mobile {
  display: none;
  @media(min-width: 768px) {
    display: block;
  }
}

.print-logo .logo-container {
  position: relative;

  img {

  }

  .website {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
  }
}

.side .logo {
  margin: 20px auto;
  width: 140px;
  display: block;

  img {
    display: block;
    width: 100%;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
  }

  @media(min-width: 1025px) {
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.side .disclaimer {
  font-size: 12px;
  opacity: 0.5;
}

.ui.popup {
  z-index: 2 !important;
}

.ui.popup.top {
  padding: 10px 15px;
}

.modal.fade.transition.visible.active[data-backdrop="static"] {
  width: 100%;
  max-width: 600px;
  background-color: #FFF;
  padding: 20px 0;

  .modal-open .modal {
    background-color: #fff;
  }

  .zp-status {
    display: none !important;
  }

  .modal-header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 20px;
    padding-bottom: 10px;

    h4 {
      margin-top: 0;
    }
  }
}

.iframe-container {
  padding-top: 40px;

  iframe {
    width: 100%;
    @media (min-width: 1025px) {
      width: 1170px;
    }
  }
}

.message-container {
  padding: 40px 0;
}

.no-margin-top {
  margin-top: 0 !important
}

.section {
  margin-top: 40px !important;
}

.generic-form {
  .response-container {
    color: #fff;
    padding-top: 20px;
  }

  .popup-close-button-container {
    margin-top: 20px;
    display: none;
  }
}

#enquireForm {
  .response-container {
    margin: 20px 0 !important;
    padding: 0 !important;
    color: #ff0000 !important;
  }
}

.widget.new-featured-packages + .widget.subscribe-to-win-widget {
  margin-top: 50px;
}

// Displayed on both 'payments' and 'booking thank you' pages.
.other-options {
  border: 1px solid #ededed;
  padding: 20px;

  .payment-option {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ededed;
  }

  .heading {
    font-weight: bold;
  }

  .note {
    background-color: #ededed;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
  }
}

.ui.checkbox {
  svg {
    margin-left: 2px;
    margin-right: 5px;
  }

  label {
    a {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.visually-hidden {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}