<div class="widget article-hero">
  <h1>
    <span>10 must-try foods in Italy - where and what to order for an authentic foodie experience</span>
  </h1>
  <div class="image">
    <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/article-hero.jpg?auto=format" alt="">
  </div>
</div>
