<div class="widget side-email-order">
  <div class="title">
    <div class="icon fas fa-envelope"></div>
    Email order
  </div>

  <div class="brochures">
    <div class="item">
      <div class="image">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/side-brochure.jpg?auto=format" alt="">
      </div>
      <div class="name">Spain & Portugal travel coinnection 2019</div>
    </div>
    <div class="item">
      <div class="image">
        <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/side-brochure.jpg?auto=format" alt="">
      </div>
      <div class="name">Spain & Portugal travel coinnection 2019</div>
    </div>
  </div>

  <div class="ui form generic-form" data-validate-inline="data-validate-inline" data-validate-on="submit" data-endpoint="api/response-message.json" data-method="GET">
    <input type="hidden" name="brochures" value="1, 2"/>

    <div class="submit-row">
      <button class="ui button submit primary small transparent">Add more brochures</button>
    </div>
  </div>
</div>
