@import "../../styles/includes/settings.scss";
@import "../../styles/includes/colours.scss";

.callouts {
  .callout-container {
    @media(--portrait) {
      margin: 0 -10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .image {
    @util aspect-ratio(16:9);
    position: relative;

    img {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: "object-fit: cover";
    }
  }

  .content {
    padding: 20px;
    background-color: #EDEDED;

    p {
      color: #000;
    }
  }

  .item {
    margin-top: 20px;
    display: block;
    @media(--portrait) {
      width: 33.333%;
      padding: 0 10px;

    }
  }

  .title {
    color: $primary;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
