<div class="widget callouts">
  <div class="wrapper">
    <div class="callout-container">
      <a href="#" class="item">
        <div class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/callout-img.jpg?auto=format" alt="">
        </div>

        <div class="content">
          <div class="title">Self-drive cruising</div>

          <p class="clamp3" data-mh="even-copy">Nullam nunc mauris, accumsan sit allus. Proin maximus aliquam dui eget condimentum. </p>
        </div>
      </a>
      <a href="#" class="item">
        <div class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/callout-img.jpg?auto=format" alt="">
        </div>

        <div class="content">
          <div class="title">Self-drive cruising</div>

          <p class="clamp3" data-mh="even-copy">Nullam  nunc mauris, accumsan sit amet lobortis imperdiet  nunc mauris, accumsan sit amet lobortis imperdiet nunc mauris, accumsan sit amet lobortis imperdiet, posuere eget tellus. Proin maximus aliquam dui eget condimentum. </p>
        </div>
      </a>
      <a href="#" class="item">
        <div class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/callout-img.jpg?auto=format" alt="">
        </div>

        <div class="content">
          <div class="title">Self-drive cruising</div>

          <p class="clamp3" data-mh="even-copy">Nullam nunc mauris, accumsan sit amet lobortis imperdiet, posuere eget tellus. Proin maximus aliquam dui eget condimentum. </p>
        </div>
      </a>
    </div>
  </div>
</div>
