<div class="widget faqs-page">
  <div class="bottom wp">
    <div class="wrapper">
      <div class="article-layout">

        <div class="main">
          <h1>Frequently asked questions</h1>
          <p class="lead">Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis.</p>
          {% include "src/widgets/faqs/faqs.njk" %}
          {% include "src/widgets/faqs/faqs.njk" %}
        </div>

        <div class="side">
          {% include "src/widgets/generic-enquire-side/generic-enquire-side.njk" %}
          <!-- {% include "src/widgets/side-email-order/side-email-order.njk" %}-->
        </div>

        <!--
        Bottom section is optional
        displays below main content in sidebar layout,
        and below side when stacking on mobile

        <div class="bottom">Optional section</div>
        -->

      </div>
    </div>
  </div>
</div>
