<div class="widget table wp">
  <div class="wrapper contained">
    <h2>Table heading</h2>

    <p>Integer vitae arcu faucibus, egestas sem nec, venenatis nisl. <b>Integer</b> nec lobortis erat. In ultricies consequat elit, eget volutpat dolor faucibus ut. Vestibulum maximus a erat a tempor. <a href="#">Suspendisse</a> ut orci eu libero mollis ultricies nec ac justo. Donec dictum dui sit amet mi ultrices venenatis. Aliquam erat volutpat. </p>

    <div class="table-container">
      <table width="100%">
        <thead>
        <tr>
          <th>Column label</th>
          <th>Lorem ipsum</th>
          <th>Dolor</th>
          <th>Sit amet</th>
          <th>Luxom botius</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Column data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
          <td>Data 4</td>
          <td>Data 5</td>
        </tr>
        <tr>
          <td>Column data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
          <td>Data 4</td>
          <td>Data 5</td>
        </tr>
        <tr>
          <td>Column data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
          <td>Data 4</td>
          <td>Data 5</td>
        </tr>
        <tr>
          <td>Column data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
          <td>Data 4</td>
          <td>Data 5</td>
        </tr>
        <tr>
          <td>Column data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
          <td>Data 4</td>
          <td>Data 5</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
