<div class="widget experience-list">
  <div class="title">When experience matters</div>
  <div class="list">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</div>
        </div>
        <div class="swiper-slide">
          <a href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</a>
        </div>

        <div class="swiper-slide">
          <a href="#" class="label"><span class="icon icon-australia"></span> Small Group Tours asfwsergewr erg er</a>
        </div>

        <div class="swiper-slide">
          <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
        </div>
      </div>
    </div>
  </div>
</div>
