@import "../../styles/includes/settings.scss";
@import "../../styles/includes/colours.scss";

.package-itinerary {
  margin-top: 40px;
  break-inside: avoid-page; /* Ensure widget heading starts on same print page as its content */

  @media(--portrait) {
    margin-top: 60px;
  }

  .top {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    html.pdf-generation-template & {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @media(--portrait), print {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @media(--landscape) {
      margin-bottom: 30px;
    }

    h2 {
      margin: 0;
    }

    .expand {
      margin-top: 20px;
      text-align: right;

      @media(--portrait) {
        margin-top: 0;
        margin-bottom: -10px; /* offset button margin when displayed inline */
      }

      /* hide buttons on print */
      html.pdf-generation-template & {
        display: none;
      }

      a.ui.button {
        display: block;
        margin-bottom: 10px;
        padding: 10px 30px;

        @media(--portrait) {
          display: inline-block;
          margin-right: 0;
          margin-left: 10px;
          width: auto;
        }
      }
    }
  }


  .ui.styled.accordion {
    /* Accordion theme */
    border-bottom: 1px solid #E4E4E4;

    > .title:first-child,
    > .accordion-panel:first-child .title {
      border-top: 1px solid #E4E4E4;
    }

    .content {
      padding: 0 !important; /* fix collapse transition jump at end */
      border-left: 1px solid #E4E4E4;
      border-right: 1px solid #E4E4E4;
      background-color: #EDEDED;
    }

    .title {
      border-top: 1px solid #fff;
      border-left: 1px solid #E4E4E4;
      border-right: 1px solid #E4E4E4;
      background-color: #EDEDED;
    }

    .active.content,
    .animating {
      background: #fff;
    }

    .active.title {
      border-top-color: #E4E4E4;
      border-left: 1px solid #E4E4E4;
      border-right: 1px solid #E4E4E4;
      background: #fff;
    }

    html.pdf-generation-template & {
      .title,
      .content {
        background-color: #fff;
        border-color: #e4e4e4;
      }
    }

    &:hover .heading {
      text-decoration: none;
    }

    /* END Accordion theme */

    /* Accordion icon */
    .title .dropdown.icon,
    .accordion .title .dropdown.icon {
      margin: 0 -7px 0 0;
      color: $primary;
      font-size: 30px;
      font-family: 'icomoon';
      flex-shrink: 0;

      &:before {
        content: "\e900"; /* Chevron icon */
      }
    }

    .active.title .dropdown.icon,
    .accordion .active.title .dropdown.icon {
      transform: rotate(180deg);
    }

    /* END Accordion icon */

    .title {
      padding: 15px 20px 15px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      color: #333;
      font-size: 20px;
      line-height: 28px;
      font-family: $lato;
      font-weight: normal;

      .arrow {
        margin: 3px 7px 0 7px;
        font-size: 17px;
      }

      .heading {
        display: flex;
        align-items: center;
        color: #333;
        font-weight: 400;
        margin: 0;
        font-family: $lato;

        .day {
          position: relative;
          width: 80px;
          padding-left: 18px; /* room for 'DAY' lettering */
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          color: $primary;
          flex-shrink: 0;

          /* 'DAY' lettering */
          span {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(-90deg);
            transform-origin: center;
            color: #929497;
            font-weight: 500;
            font-size: 9px;
            line-height: 1;
            letter-spacing: 0.5px;
          }
        }
      }
    }

    .content {

      .inner-content {
        padding: 5px 20px 20px;

        @media(--landscape) {
          padding: 20px 40px 40px 100px;
        }
      }

      .image {
        aspect-ratio: 16/9;
        position: relative;
        margin-top: 20px;

        img {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .grad {
          background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
          height: 60px;
          opacity: 0.4;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
        }

        .caption {
          position: absolute;
          bottom: 10px;
          right: 10px;
          display: flex;
          align-items: center;
          color: #fff;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: normal;

          .icon {
            margin-right: 10px;
            font-size: 20px;
          }
        }
      }

      .inclusions {

        .item {
          margin-right: 10px;
          display: flex;
          align-items: center;
          flex-direction: row;
          margin-bottom: 8px;

          .icon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
