<div class="widget footer">
  <div class="wrapper">
    <div class="top">
      <div class="categories">
        <div class="item"><div class="inner">Destinations <span class="icon down fas fa-chevron-down"></span><span class="icon up fas fa-chevron-up"></span></div></div>
        <div class="item"><div class="inner">Experiences <span class="icon down fas fa-chevron-down"></span><span class="icon up fas fa-chevron-up"></span></div></div>
        <div class="item"><div class="inner">Tours <span class="icon down fas fa-chevron-down"></span><span class="icon up fas fa-chevron-up"></span></div></div>
        <div class="item"><div class="inner">Cruises <span class="icon down fas fa-chevron-down"></span><span class="icon up fas fa-chevron-up"></span></div></div>
        <div class="item"><div class="inner">Who we are <span class="icon down fas fa-chevron-down"></span><span class="icon up fas fa-chevron-up"></span></div></div>
      </div>
      <div class="links">
        <div class="inner">
          <div class="list">
            <a href="#">Alaska</a>
            <a href="#">Canada</a>
            <a href="#">France</a>
            <a href="#">Italy</a>
            <a href="#">Maldives</a>
            <a href="#">Malta</a>
            <a href="#">Monaco</a>
            <a href="#">New Caledonia</a>
          </div>
          <div class="list">
            <a href="#">Active</a>
            <a href="#">Battlefields</a>
            <a href="#">Cultural</a>
            <a href="#">Cycling</a>
            <a href="#">Family</a>
          </div>
          <div class="list">
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
          </div>
          <div class="list">
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
          </div>
          <div class="list">
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
            <a href="#">link</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="middle">
      <div class="left">
        <div class="copy">
          Our Travel Specialists would love to help!
        </div>

        <div class="connect">
          <div class="contact">
            <div class="line"><div class="inner"><span class="icon fas fa-clock"></span> 9am - 5:30pm, Mon to Fri</div></div>
            <div class="line"><div class="inner"><span class="icon fas fa-envelope"></span> PO Box 4217<br>Castlecrag NSW 2068</div></div>
            <div class="line"><div class="inner"><span class="icon fas fa-phone"></span> Australia: (02) 9094 3322<br>New Zealand: 0800 855 045</div></div>
            <div class="line"><div class="inner"><span class="icon fas fa-paper-plane"></span><a href="#">info@entiretravel.com.au</a></div></div>
          </div>
          <div class="socials">
            <a href="#" rel="nofollow"><span class="icon fab fa-facebook"></span></a>
            <a href="#" rel="nofollow"><span class="icon fab fa-instagram"></span></a>
            <a href="#" rel="nofollow"><span class="icon fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="logo top-left"><img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/cato.png?auto=format" alt=""></div>
        <div class="logo bottom-left"><img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/afta-atlas.png?auto=format" alt=""></div>
        <div class="logo full"><img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/afta.png?auto=format" alt=""></div>
      </div>
    </div>



    <div class="bottom">
      <div class="copyright">
        © 2019 Entire Travel Group Pty Ltd ABN 60 625 410 755.
      </div>

      <div class="links">
        <a href="#">Terms and Conditions</a>
        <a href="#">Cookies and Privacy policy</a>
        <a href="#">Responsible travel</a>
        <a href="#">Site map</a>
        <a href="#" rel="nofollow">Made with Devotion</a>
      </div>
    </div>
  </div>
</div>
