<div class="widget package-detail-bar">
  <div class="item">
    <div class="label">Starts and Ends</div>
    <div class="value value--start-end">
      Rarotonga Airport <span class="faded">to</span>
      <br> Somewhere Else
    </div>
  </div>
  <div class="item">
    <div class="label">Travel Periods</div>
    <div class="value value--from-to">
      01 Jan 2022 <span class="faded">to</span>
      <br> 21 Mar 2023
    </div>
  </div>
  <div class="item">
    <div class="label">Experience</div>
    <ul class="value">
      <li><a href="#"><span class="icon icon-Beach"></span>Beach</a></li>
      <li><a href="#"><span class="icon icon-Honeymoon"></span>Honeymoon</a></li>
    </ul>
  </div>
  <div class="item">
    <div class="label">Travel style</div>
    <div class="value">
      <a href="#">Independent Holiday Packages</a>
    </div>
  </div>
</div>
