<div class="widget full-width-image wp">
  <div class="image">
    <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/full-width-image.jpg?auto=format" alt="">
  </div>
  <div class="caption">
    Optional caption natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </div>
</div>
