<div class="widget destination-expert-listing">
  <div class="top">
    <div class="wrapper">
      <h1>Meet our expert teams</h1>

      <p>Donec efficitur quam ut nunc feugiat varius. Cras semper molestie suscipit. Aliquam ullamcorper dapibus nisi vitae vestibulum. Etiam vulputate nisl nisl, id ornare est aliquet eget. Aenean pharetra ornare elementum. Nullam suscipit volutpat lectus, non vestibulum tellus faucibus vitae. </p>
    </div>
  </div>

  <div class="bottom wp">
    <div class="wrapper">
      <div class="teams">
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="inner">
            <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination.png?auto=format" alt="">
            <div class="gradient"></div>
            <div class="title">
              <div class="label">Team</div>
              Italy
            </div>
          </div>
          <div class="overlay">
            <div class="title">Italy</div>
            <div class="copy">Passionate, and devoted to living the good life, Spain is so much more than just paella and tapas.</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
