<a href="#" class="widget product-tile">
  <span class="top-element">
    <span class="image">
      <img class="lazyload bg" data-src="https://devotion-creative.imgix.net/etgp0001/images/product-tile-image.jpg?auto=format&w=275&h=155&fit=crop" alt="">

      <!-- added logos here -->
      <span class="logos">
        <img class="lazyload logo" data-src="/images/product-tile-pom.png" alt="">
        <img class="lazyload logo" data-src="/images/product-tile-foc.png" alt="">
        <img class="lazyload logo" data-src="/images/product-tile-exclusive.png" alt="">
        <img class="lazyload logo" data-src="/images/product-tile-safe.png" alt="">
      </span>

      <span class="save">Save up to $1,234</span>
    </span>

    <!-- location text changed to Main country + sub country + sub country -->
    <span class="location">Main country + Sub country + Sub country</span>

    <span class="title" data-mh="even-title">Romance in Paris</span>

    <!-- "Tour code" changed to "Package code" -->
    <span class="code">Package code: 123456</span>

    <!-- added tour type TourTypeNameList.join(' + ') -->
    <span class="type">Private escorted tours</span>

    <!-- added location -->
    <!--
    if TourDestinationCity is blank, or if TourDepartureCity === TourDestinationCity, output should be
    TourDepartureCity (Starts/Ends)

    if TourDepartureCity != TourDestinationCity, output should be
    TourDepartureCity &gt; TourDestinationCity
     -->
    <span class="where">TourDepartureCity &gt; TourDestinationCity</span>

    <!-- added highlights - see ticket for rules -->
    <span class="highlights">
      <ul>
        <li>Stay at the Main Hotel</li>
        <li>Highlight 1</li>
      </ul>
    </span>
  </span>

  <span class="fixed-element">
    <span class="line">10 nights
      <span class="grey">|</span>
      <span class="icon fas fa-plane"></span>
      <span class="icon fas fa-bed"></span>
      <span class="icon fas fa-utensils"></span>
      <span class="icon fas fa-bus"></span>
    </span>

    <span class="line">
      <span class="grey">From</span> <span class="strike">$28,000</span> $27,681 <span class="grey">per person, twin share</span>
    </span>

    <span class="ui primary button">View Package</span>
  </span>

</a>
