<div class="widget video wp">
  <div class="video-container">
    <a href="https://www.youtube.com/watch?v=4-67CHEUUro" class="video-button">
      <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/full-width-image.jpg?auto=format" alt=""/>
      <span class="tint"></span>
      <span class="play"><i class="fas fa-play"></i></span>
      <span class="copy">Cras mattis consectetur purus sit amet fermentum fusce dapibus,</span>
    </a>
  </div>
</div>
