<div class="widget simple-footer">
  <div class="copyright">
    © 2019 Entire Travel Group Pty Ltd ABN 60 625 410 755.
  </div>

  <div class="links">
    <a href="#">Terms and Conditions</a>
    <a href="#">Cookies and Privacy policy</a>
    <a href="#">Responsible travel</a>
    <a href="#">Site map</a>
    <a href="#">Made with Devotion</a>
  </div>
</div>
