<div class="widget blog-carousel">
  <div class="wrapper">
    <h2>Travel Blogs & Guides</h2>
    <div class="copy">
      <p>Get inspired and give in to the thrill of adventure. There's no better time than now to experience a tropical getaway in Fiji or a gastronomic tour across Europe.</p>
    </div>
  </div>

  {% include "src/widgets/blog-carousel/__slider.njk" %}

  <div class="cta">
    <a href="#" class="ui button primary transparent">View all</a>
  </div>
</div>
