<div class="widget breadcrumbs">
  <div class="wrapper">
    <div class="links">
      <a href="#" class="item">Home</a>/
      <a href="#" class="item">Italy</a>/
      <div class="item">Calabria Classic super long name super long name super long name</div>
    </div>
  </div>
</div>
