<div class="widget iconigraphical-content">
  <div class="wrapper wp">
    <h2>Why join us</h2>

    <div class="content-container">
      <div class="item">
        <div class="pin-container">
          <div class="icon fas fa-plane-departure"></div>
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/pin-bg.png?auto=format" alt="">
        </div>
        <div class="title">Lorem ipsum</div>
        <div class="description">Description</div>
      </div>
      <div class="item">
        <div class="pin-container">
          <div class="icon fas fa-compass"></div>
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/pin-bg.png?auto=format" alt="">
        </div>
        <div class="title">Dolor sit amet</div>
        <div class="description">Description</div>
      </div>
      <div class="item">
        <div class="pin-container">
          <div class="icon fas fa-route"></div>
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/pin-bg.png?auto=format" alt="">
        </div>
        <div class="title">Sit Magna Commodo</div>
        <div class="description">Description</div>
      </div>
      <div class="item">
        <div class="pin-container">
          <div class="icon fas fa-globe-americas"></div>
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/pin-bg.png?auto=format" alt="">
        </div>
        <div class="title">Elit Venenatis Cras</div>
        <div class="description">Description</div>
      </div>
    </div>
  </div>
</div>
