<div class="widget partnership-with-updated">
    <div class="heading">In partnership with</div>
    <div class="images">
      <div class="image">
        <img data-src="https://via.placeholder.com/188x98" class="lazyload" />
      </div>
      <div class="image">
        <img data-src="https://via.placeholder.com/131x131" class="lazyload" />
      </div>
      <div class="image">
        <img data-src="https://via.placeholder.com/188x125" class="lazyload" />
      </div>
    </div>
</div>
