<div class="widget agent-portal">
  <div class="top">
    <div class="mobile-nav">
      <div class="close"><span class="fal fa-times"></span></div>
      <div class="inner">
        <div class="heading">Agent Portal</div>
        <div class="links">
          <a href="#" class="active" data-set="1">Brochures</a>
          <a href="#" data-set="2">Toolkit</a>
          <a href="#" data-set="3">Incentives</a>
          <a href="#" data-set="4">Webinars</a>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <h1>Agent portal</h1>
      <p>Donec efficitur quam ut nunc feugiat varius. Cras semper molestie suscipit. Aliquam ullamcorper dapibus nisi vitae vestibulum. Etiam vulputate nisl nisl, id ornare est aliquet eget. Aenean pharetra ornare elementum. Nullam suscipit volutpat lectus, non vestibulum tellus faucibus vitae. </p>

      <div class="nav">
        <a href="#" class="active" data-set="1">Brochures</a>
        <a href="#" data-set="2">Toolkit</a>
        <a href="#" data-set="3">Incentives</a>
        <a href="#" data-set="4">Webinars</a>
      </div>
    </div>

    <div class="mobile-menu-trigger">
      <div class="label">Showing</div>
      <div class="nav-item">Brochures</div>
      <div class="icon fas fa-chevron-right"></div>
    </div>
  </div>

  <div class="bottom wp">
    <div class="wrapper">
      <div class="brochure-list set" data-set="1">
        <div class="inner-container">
          <div class="item" data-brochure="1">
            <div class="inner">
              <div class="image">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
              </div>
              <div class="content">
                <div class="title">French travel connection 2019 brochure</div>
                <a href="#" class="button primary ui transparent small">View online</a>
                <a href="#" class="button primary ui transparent small toggle-add">
                  <span class="add">Order</span>
                </a>
              </div>
            </div>
          </div>
          <div class="item" data-brochure="2">
            <div class="inner">
              <div class="image">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
              </div>
              <div class="content">
                <div class="title">French travel connection 2019 brochure</div>
                <a href="#" class="button primary ui transparent small">View online</a>
                <a href="#" class="button primary ui transparent small toggle-add">
                  <span class="add">Order</span>
                </a>
              </div>
            </div>
          </div>
          <div class="item" data-brochure="3">
            <div class="inner">
              <div class="image">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
              </div>
              <div class="content">
                <div class="title">French travel connection 2019 brochure</div>
                <a href="#" class="button primary ui transparent small">View online</a>
                <a href="#" class="button primary ui transparent small toggle-add">
                  <span class="add">Order</span>
                </a>
              </div>
            </div>
          </div>
          <div class="item" data-brochure="4">
            <div class="inner">
              <div class="image">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
              </div>
              <div class="content">
                <div class="title">French travel connection 2019 brochure</div>
                <a href="#" class="button primary ui transparent small">View online</a>
                <a href="#" class="button primary ui transparent small toggle-add">
                  <span class="add">Order</span>
                </a>
              </div>
            </div>
          </div>
          <div class="item" data-brochure="5">
            <div class="inner">
              <div class="image">
                <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/brochure-shot.png?auto=format" alt="">
              </div>
              <div class="content">
                <div class="title">French travel connection 2019 brochure</div>
                <a href="#" class="button primary ui transparent small">View online</a>
                <a href="#" class="button primary ui transparent small toggle-add">
                  <span class="add">Order</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="toolkit-list set" data-set="2">
        <p>Tookit list Integer vitae arcu faucibus, egestas sem nec, venenatis nisl. Integer nec lobortis erat. In ultricies consequat elit, eget volutpat dolor faucibus ut. Vestibulum maximus a erat a tempor. Suspendisse ut orci eu libero mollis ultricies nec ac justo. Donec dictum dui sit amet mi ultrices venenatis. Aliquam erat volutpat. Integer sem orci, efficitur ac ipsum vitae, fringilla efficitur neque.</p>

        <div class="container">
          <a href="#" class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">Romance in Paris</span>
            <span class="button-container">
              <span class="button ui primary transparent">Download now</span>
            </span>
          </a>
          <a href="#" class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">Romance in Paris</span>
            <span class="button-container">
              <span class="button ui primary transparent">Download now</span>
            </span>
          </a>
          <a href="#" class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">Romance in Paris</span>
            <span class="button-container">
              <span class="button ui primary transparent">Download now</span>
            </span>
          </a>
          <a href="#" class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">Romance in Paris</span>
            <span class="button-container">
              <span class="button ui primary transparent">Download now</span>
            </span>
          </a>
        </div>

      </div>

      <div class="webinar-list set" data-set="3">
        <div class="inner-container">
          <div class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">Celebrate Whistler’s cooler months</span>
            <p data-mh="even-copy">From the magical atmosphere and endless shopping in Whistler vibrant resort village, to the vast collection of outdoor activities and family-themed events on and around the mountains, the cooler season is truly magical. Join us to find out all about Whistler activities off the slopes.</p>
            <p>Coming soon: DD MMM YYYY</p>
          </div>
          <a href="#" class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">The best of Italy - boutique tours</span>
            <p data-mh="even-copy">If you have clients who prefer travelling in smaller groups. Our boutique tours focus on specific regions and specialise in particular experiences, such as food and wine, cooking or walking, and offer an overall more intimate touring experience.</p>
          </a>
          <a href="#" class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">Romance in Paris</span>
            <p data-mh="even-copy">New Caledonia is actually one of Australia's nearest neighbours. This beautiful French island offers a fascinating combination of sophisticated French style and cuisine together with the friendly, laid-back Pacific-island culture. Join us to find out what New Caledonia has to offer.</p>
          </a>
          <a href="#" class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">The best of Italy - boutique tours</span>
            <p data-mh="even-copy">If you have clients who prefer travelling in smaller groups. Our boutique tours focus on specific regions and specialise in particular experiences, such as food and wine, cooking or walking, and offer an overall more intimate touring experience.</p>
          </a>
          <a href="#" class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">Romance in Paris</span>
            <p data-mh="even-copy">New Caledonia is actually one of Australia's nearest neighbours. This beautiful French island offers a fascinating combination of sophisticated French style and cuisine together with the friendly, laid-back Pacific-island culture. Join us to find out what New Caledonia has to offer.</p>
          </a>
          <a href="#" class="item">
            <div class="image">
              <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?auto=format" alt="">
            </div>
            <span class="title" data-mh="even-title">Romance in Paris</span>
            <p data-mh="even-copy">New Caledonia is actually one of Australia's nearest neighbours. This beautiful French island offers a fascinating combination of sophisticated French style and cuisine together with the friendly, laid-back Pacific-island culture. Join us to find out what New Caledonia has to offer.</p>
          </a>
        </div>
      </div>

      <div class="incentive-list set" data-set="4">
        <div class="inner-container">
          <a href="#" class="item">
            <span class="inner">
              <span class="left">
                <span class="image">
                  <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/article-list-img.jpg?auto=format" alt="">
                  <span class="grad"></span>
                  <span class="title">Italy</span>
                </span>
              </span>
              <span class="right">
                <span class="location">Europe</span>
                <span class="copy">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</span>
              </span>
            </span>
          </a>
          <a href="#" class="item">
            <span class="inner">
              <span class="left">
                <span class="image">
                  <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/article-list-img.jpg?auto=format" alt="">
                  <span class="grad"></span>
                  <span class="title">Italy</span>
                </span>
              </span>
              <span class="right">
                <span class="location">Europe</span>
                <span class="copy">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</span>
              </span>
            </span>
          </a>
          <a href="#" class="item">
            <span class="inner">
              <span class="left">
                <span class="image">
                  <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/article-list-img.jpg?auto=format" alt="">
                  <span class="grad"></span>
                  <span class="title">Italy</span>
                </span>
              </span>
              <span class="right">
                <span class="location">Europe</span>
                <span class="copy">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</span>
              </span>
            </span>
          </a>
          <a href="#" class="item">
            <span class="inner">
              <span class="left">
                <span class="image">
                  <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/article-list-img.jpg?auto=format" alt="">
                  <span class="grad"></span>
                  <span class="title">Italy</span>
                </span>
              </span>
              <span class="right">
                <span class="location">Europe</span>
                <span class="copy">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</span>
              </span>
            </span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
