<div class="widget game-of-luck ui modal">
  <i class="close icon"><span class="fal fa-times"></span></i>

  <h2>Sign up for a 1 in 4 chance of winning the holiday of your dreams</h2>

  <div class="ui form generic-form" data-validate-inline="data-validate-inline" data-validate-on="submit" data-endpoint="api/response-message.json" data-method="GET">
    <div class="label">Email address</div>

    <div class="field">
      <input type="email" name="email" data-rules="empty,email" data-prompts="Please enter valid email" placeholder="Email address"/>
    </div>

    <div class="button-container">
      <button class="ui primary submit button" type="button">Sign up</button>
      <a href="#" class="button transparent primary ui game-close">No, thanks</a>
    </div>

    <div class="disclaimer">* Up to a value of $2,500 per person twin share. Maximum 2 people. Terms & conditions apply.</div>
  </div>
</div>
