<div class="widget page-404">
  <div class="wrapper contained">
    <h2>Looks like you've lost your way</h2>
    <p class="lead">Let us help get you back on track. Search a destination, experience or tour, or browse the content below for some inspiration</p>

    {% include "src/widgets/site-search/site-search.njk" %}
  </div>
</div>
