<appSettings>
    <add key="ImgixDomain" value="https://etg-uat.imgix.net" />
    <add key="CMSWebFarmServerName" value="" />
    <add key="CMSAzureAccountName" value="etgdevstorage" />
    <add key="CMSAzureSharedKey" value="Emk3EAMVm2fK5ZDaV2H6cVtMbCMnZg6kbQNnxz60/3uxQTPU+EFpyBDv6M0ZW69EWoxsogToPVFYQsNPV0GGtg==" />
    <add key="AzureContainer" value="" />
    <add key="SearchIndexTour" value="TourPricing-NewUAT" />
    <add key="SearchIndexArticle" value="ArticleUAT" />
    <add key="SearchIndexContents" value="ContentsUAT" />
    <add key="SearchIndexTypeAhead" value="TypeAheadUAT" />
</appSettings>