<rules>
	<rule name="Redirect to HTTPS WWW" enabled="true" stopProcessing="true">
		<match url="(.*)" />
		<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTPS}" pattern="off" />
			<add input="{HTTP_HOST}" pattern="^[^www]" />
		</conditions>
		<action type="Redirect" url="https://www.entiretravel.com.au/{R:0}" />
	</rule>
	<rule name="rule" enabled="true" stopProcessing="true">
		<match url="(.*)" />
		<conditions>
			<add input="{URL}" pattern="[A-Z]" ignoreCase="false" />
			<add input="{URL}" pattern="etg/media/*" negate="true" />
			<add input="{URL}" pattern="getmedia/*" negate="true" />
			<add input="{URL}" pattern="/cmsctx/*" negate="true"/>
			<add input="{URL}" pattern="/kentico*" negate="true" />
			<add input="{URL}" pattern="_child-action-only/*" negate="true" />
		</conditions>
		<action type="Redirect" url="{ToLower:{URL}}" />
	</rule>
	<rule name="Remove trailing slash" stopProcessing="true">
		<match url="(.*)/$" />
		<conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			<add input="{URL}" pattern="etg/media/*" negate="true" />
			<add input="{URL}" pattern="getmedia/*" negate="true" />
			<add input="{URL}" pattern="/cmsctx/*" negate="true" />
			<add input="{URL}" pattern="/kentico*" negate="true" />
			<add input="{URL}" pattern="_child-action-only/*" negate="true" />
		</conditions>
		<action type="Redirect" redirectType="Permanent" url="{R:1}" />
	</rule>

	<rule name="RedirectCruisesToCruiseJourneys" patternSyntax="ExactMatch" stopProcessing="true">
		<match url="cruises" ignoreCase="true" />
		<action type="Redirect" url="cruise-journeys" redirectType="Permanent" />
	</rule>

	<rule name="RedirectBargeCruiseArticle" patternSyntax="ExactMatch" stopProcessing="true">
		<match url="articles/8-things-consider-booking-barge-cruise" ignoreCase="true" />
		<action type="Redirect" url="cruises/barge-cruising" redirectType="Permanent" />
	</rule>

	<rule name="RedirectContactUsArticle" patternSyntax="ExactMatch" stopProcessing="true">
		<match url="articles/contact-us" ignoreCase="true" />
		<action type="Redirect" url="contact-us" redirectType="Permanent" />
	</rule>

	<rule name="RedirectCovidTravelCredit" patternSyntax="ExactMatch" stopProcessing="true">
		<match url="covid-19-travel-credit" ignoreCase="true" />
		<action type="Redirect" url="covid-19-travel-credit-policy" redirectType="Permanent" />
	</rule>

	<rule name="RedirectRailJourneys" patternSyntax="ExactMatch" stopProcessing="true">
		<match url="rail-journeys" ignoreCase="true" />
		<action type="Redirect" url="entire-rail-journeys" redirectType="Permanent" />
	</rule>

	<rule name="RedirectPassportToMonaco" patternSyntax="ExactMatch" stopProcessing="true">
		<match url="landing/monaco/passport-to-monaco" ignoreCase="true" />
		<action type="Redirect" url="destinations/monaco" redirectType="Permanent" />
	</rule>

	<rule name="RedirectCheckoutToRoot" patternSyntax="ExactMatch" stopProcessing="true">
		<match url="booking/checkout" ignoreCase="true" />
		<action type="Redirect" url="/" redirectType="Permanent" />
	</rule>
	
	<rule name="30c7ae22ebc64a52a6a5e852e1c1b944 rewrite"
							  patternSyntax="ExactMatch"
							  stopProcessing="true">
		<match url="activity-city-tour-of-papee" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="fcf7e777230a43bcad63ec49a75b7744 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="activity-moorea-aito" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/moorea" />
	</rule>
	<rule name="6a821629a79f4f4e882aa4581225983e rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="aranui-5/" ignoreCase="true" />
		<action type="Redirect" url="tahiti/aranui-5-voyage" />
	</rule>
	<rule name="fd4b89e16f604aabab4c650d3c1e8a26 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="blog/how-to-do-tahiti-family-style/" ignoreCase="true" />
		<action type="Redirect" url="articles/how-to-do-tahiti-family-styles" />
	</rule>
	<rule name="a1ec6721ac58455cb31754940539d1eb rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="bora-bora" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/bora-bora" />
	</rule>
	<rule name="b8aa7840017048618fc16ad3d44285ad rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="bora-bora-dinner-at-bloody-mary-s-restaurant" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/bora-bora" />
	</rule>
	<rule name="8f9429eb89924f4ebd95b78432509845 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="bora-bora-hiking-in-the-valley-of-kings-on-ancestors-path-moderate-level/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="ef58fb234688421a83dbbf930df72b11 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="bora-bora-shark-ray-snorkelling-safari" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/bora-bora" />
	</rule>
	<rule name="c48242cae6f642428a0e55fa200f84c3 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="conrad-bora-bora-nui" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/bora-bora" />
	</rule>
	<rule name="33b48c17e8674288b875a0b8718b8e02 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="fakarava-initiation-dive-with-topdive/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/fakarava" />
	</rule>
	<rule name="662b51b0e5b74a49b7aeb17bfeea7a82 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="fakarava/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/fakarava" />
	</rule>
	<rule name="fc5bd5088a3f4968a18418879a9a8ef4 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="hiva-oa" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="377d6373626b4d30b63b1d1a0c67f239 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="hiva-oa/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="d6d035bdfc564f69bc53ba02725208d5 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="huahine-4wd-safari-expedition-half-day/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="8109755906174c1993e007730c18b301 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="huahine-horseback-riding" ignoreCase="true" />
		<action type="Redirect" url="experiences/active" />
	</rule>
	<rule name="493e0369e9be463ba78ede0ee377e371 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="huahine-sacred-sites-legendary-places-4wd-walking-tour/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/huahine" />
	</rule>
	<rule name="73e43d7e9e1c4e5d95e6c9ddda363150 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="huahine/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/huahine" />
	</rule>
	<rule name="2237baec3e0f43b7893c5d9650ca5ca4 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="manava-beach-resort-spa/" ignoreCase="true" />
		<action type="Redirect" url="tahiti/manava-beach-resort-spa-family" />
	</rule>
	<rule name="744d7c8ddf8d42449412e2bb5f06a47d rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="moorea" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/moorea" />
	</rule>
	<rule name="d396343c1bc243c5ae6306ba370a86c9 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="moorea-authentic-moana-lagoon-excursion/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/moorea" />
	</rule>
	<rule name="4f1ced134a614d6a9eb9caa83589142a rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="moorea-circle-island-tour-with-the-belvedere" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/moorea" />
	</rule>
	<rule name="973d6be2f71f41acb0d40d555e7284d9 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="moorea-the-tiki-theatre-village-polynesian-show/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="e5a4fab27b084883b5bc6ad0da569690 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="moorea/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/moorea" />
	</rule>
	<rule name="13186d52ed5a4d82bc0519bdc3d0d4d8 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="nuku-hiva/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="ba4fba92c5824c6db67261c06114db12 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands" ignoreCase="true" />
		<action type="Redirect" url="destinations" />
	</rule>
	<rule name="be433c35b26e49e3a0916ac0ac166fdc rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/barge-travel-connection" ignoreCase="true" />
		<action type="Redirect" url="cruises/barge-cruising" />
	</rule>
	<rule name="bdcf9ca4ea0f467a8e2d75a21ad7962e rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/canada-alaska-specialist-holidays" ignoreCase="true" />
		<action type="Redirect" url="destinations/canada" />
	</rule>
	<rule name="8e00db5b54f54775a1ef6e60a8808def rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/cit-italy" ignoreCase="true" />
		<action type="Redirect" url="destinations/italy" />
	</rule>
	<rule name="a08436a196c44295beb0fe71a4bb2180 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/french-travel-connection" ignoreCase="true" />
		<action type="Redirect" url="destinations/france" />
	</rule>
	<rule name="fb160f10661a43318ed3004402d39399 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/maldives-travel-connection" ignoreCase="true" />
		<action type="Redirect" url="destinations/maldives" />
	</rule>
	<rule name="9250ac3bf30c49e085b38fb11182e8b2 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/new-caledonia-travel-connection" ignoreCase="true" />
		<action type="Redirect" url="destinations/new-caledonia" />
	</rule>
	<rule name="c554dbc715ce42679e5fbec76c2f1921 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/portugal-travel-connection" ignoreCase="true" />
		<action type="Redirect" url="destinations/portugal" />
	</rule>
	<rule name="a87bc5ba68e14438897f60492e6b0127 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/spain-travel-connection" ignoreCase="true" />
		<action type="Redirect" url="destinations/spain" />
	</rule>
	<rule name="9c9279f17693493bae9ed846ffc7622a rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/switzerland-travel-connection" ignoreCase="true" />
		<action type="Redirect" url="destinations/switzerland" />
	</rule>
	<rule name="1bba2762a20a46cab88c6f6b2cc18a39 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="our-brands/tahiti-travel-connection" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="01947922855a46d0bfe3136cd0a8b655 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="raiatea-hiking-at-mount-temehani-rahi-athletic-level/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/raiatea" />
	</rule>
	<rule name="7e4bca95ac5b432dabe18445196a7cb9 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="raiatea-tupuna-boat-tour-faaroa-river-marae-taputapuatea-1763/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="56835d3fe53b41608084c03af818e579 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="raiatea-walk-at-the-3-cascades-moderate-level-1768/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/raiatea" />
	</rule>
	<rule name="0319c2ff13914855b76975f33dbd4259 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="raiatea/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/raiatea" />
	</rule>
	<rule name="5afe1e021470431193b6a7ffaf3e514b rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="rangiroa-snorkelling-in-tiputa-pass/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="2fdbbfc3d9b64c22912406638242a456 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="rangiroa/" ignoreCase="true" />
		<action type="Redirect" url="maldives/uncover-the-serenity-of-conrad-maldives-rangali-is" />
	</rule>
	<rule name="b64cd99cf73949e3ac1ac2feac719991 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="sofitel-moorea-ia-ora-beach-resort/" ignoreCase="true" />
		<action type="Redirect" url="tahiti/sofitel-moorea-ia-ora-beach-resort" />
	</rule>
	<rule name="36f5988ca4c64f57a88a585ca1e54b61 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="taha-a" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/taha-a" />
	</rule>
	<rule name="1b952b0a683e47ffb3cded22557e2f23 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tahiti-city-tour-by-segway-papeete-discovery/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="f873d8dad9fe415dbe60e4e290759d31 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tahiti-cruises/paul-gauguin-2669" ignoreCase="true" />
		<action type="Redirect" url="paul-gauguin-cruise-society-islands" />
	</rule>
	<rule name="949b38fc84f84728aa24cbadbc8ae123 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tahiti-gastronomic-restaurant-le-coco-s-dinner" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="c3dbb8084d2642e0bebc6ed2d3c0e4b2 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tahiti-initiation-dive-with-topdive-hotel-intercontinental/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="0516e4c7138f427a93b68d052a7bc74b rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tahiti-snorkeling-guided-tour-on-the-west-coast/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="332aefd451bd4503b44fb3e1fe1086c7 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tahiti-surf-course-with-michel-demont" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="6edfe5d328244169a76db7561105cb0e rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tahiti-whale-watching-from-august-to-october/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="bac889783a9d4f30bfecd5dc3d81efe0 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tahuata/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="eee22d8611f247a7a26b505691add8cc rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="take-me-to-tahiti-discover-the-islands-of-tahiti-marquesas-islands/" ignoreCase="true" />
		<action type="Redirect" url="articles/marquesas-islands-land-men" />
	</rule>
	<rule name="7bd2d1c9c9114d6ba30c2204e12f1081 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="things-to-do/bora-bora/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="d6369cb899244da697803608766238ca rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="things-to-do/other-islands/location-island/raiatea/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="ea27a23e5beb45e8bb774441a60c6dfe rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tikehau-pearl-beach-resort" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/tikehau" />
	</rule>
	<rule name="0d36b71d99504aec90e4099ef7a3c067 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tikehau/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti/tikehau" />
	</rule>
	<rule name="11d4554c41c5493c8849f2aeeaa8938a rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="tourist-guide" ignoreCase="true" />
		<action type="Redirect" url="tours" />
	</rule>
	<rule name="462eb0ef7b54415e88554c1c22b20610 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="ua-pou/" ignoreCase="true" />
		<action type="Redirect" url="destinations/tahiti" />
	</rule>
	<rule name="d3dee37911524c8b878f525b841af0f4 rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="weddings.html" ignoreCase="true" />
		<action type="Redirect" url="experiences" />
	</rule>
	<rule name="moorishtospain rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="spain/moorish-splendor-on-high-walking-tour" ignoreCase="true" />
		<action type="Redirect" url="destinations/spain" />
	</rule>
	<rule name="82ad72a5bec84995b74f7b56143fdca4 rewrite"
patternSyntax="ExactMatch"
stopProcessing="true">
		<match url="destinations/cambodia" ignoreCase="true" />
		<action type="Redirect" url="destinations" />
	</rule>
	<rule name="b0701f229825403f8c382da087c29d7c rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="destinations/japan" ignoreCase="true" />
		<action type="Redirect" url="destinations" />
	</rule>
	<rule name="72de8e4d337e476ca0632b56278525ea rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="destinations/vietnam" ignoreCase="true" />
		<action type="Redirect" url="destinations" />
	</rule>
	<rule name="50fd8ee33bd7472e8271f81ba18dc20d rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="destinations/slovenia" ignoreCase="true" />
		<action type="Redirect" url="destinations" />
	</rule>
	<rule name="96de35594d8e40079c4b320b217c2a5f rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="destinations/australia" ignoreCase="true" />
		<action type="Redirect" url="destinations" />
	</rule>
	<rule name="10852780934549c8bbfb89ef97cae2cf rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="destinations/morocco" ignoreCase="true" />
		<action type="Redirect" url="destinations" />
	</rule>
	<rule name="2e27638f7ed8450583f52e90a53c6daf rewrite"
								patternSyntax="ExactMatch"
								stopProcessing="true">
		<match url="destinations/sri-lanka" ignoreCase="true" />
		<action type="Redirect" url="destinations" />
	</rule>

</rules>