<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)" type=" " />
  </configSections>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpModules>
      <add name="Glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)" type=" " />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" xdt:Transform="Remove" xdt:Locator="Match(path)" verb=" " type=" " />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)" type=" " preCondition=" " />
    </handlers>
    <modules>
      <add name="Glimpse" xdt:Transform="Remove" xdt:Locator="Match(name)" type=" " preCondition=" " />
    </modules>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Insert">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="/500" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite xdt:Transform="Insert">
      <rules configSource="rewrite.config" />
    </rewrite>
  </system.webServer>
  <glimpse xdt:Transform="Remove" />
</configuration>