<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <connectionStrings configSource="connectionStrings.config">
  </connectionStrings>
  <appSettings file="appSettings.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CMSApplicationGuid" value="c6df5de6-39e1-4b03-812a-a70638a91bbf" />
    <add key="CMSApplicationName" value="Default Web Site/ETG" />
    <add key="CMSHashStringSalt" value="14b04732-f7d8-4bc5-bce5-f96269a2b045" />
    <add key="CMSCIRepositoryPath" value="D:\Projects\ETG\ETGSourceCodePackage1\ETGSourceCodePackage\ETGKentico\Kentico\CMS\App_Data\CIRepository" />
	<add key="CMSAdminCookiesSameSiteNone" value="true" />
    <add key="RecaptchaSiteKey" value="6LeEArAUAAAAAJp9LSShW5tp1g9GFrRYoe4S4s0s" />
    <add key="RecaptchaSecretKey" value="6LeEArAUAAAAAEoRcg8rWZC1eIMJc3ZDvfSwv59t" />
    <add key="RecaptchaV3SiteKey" value="6LenFbspAAAAAAzM_JS7WxvWh1UMhW1uoigRYMax" />
    <add key="RecaptchaV3SecretKey" value="6LenFbspAAAAAOwPw4HbMYfqNdlGPg78CzKtPeVf" />
    <add key="GoogleMapAPIKey" value="AIzaSyBQSwFeJc6YO0wrcLPtvCu-9KSXXRMWReI" />
    <add key="SearchAPIKey" value="79d4022f9d2199e9dcc43221a5171c43" />
    <add key="SearchApplicationID" value="SK049MNMX7" />
    <add key="FEVersion" value="1.4.9" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="en-AU" culture="en-AU" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.6.1" maxUrlLength="512" />
    <customErrors mode="Off" />
    
    
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.0.0" newVersion="7.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Search" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Core" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.MacroEngine" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Base" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.DataEngine" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Modules" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Helpers" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Membership" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.SiteProvider" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Scheduler" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.IO" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Automation" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.WorkflowEngine" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.DocumentEngine" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Globalization" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.EventLog" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.AspNet.Platform" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.FormEngine" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.CustomTables" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Synchronization" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.LicenseProvider" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.ImportExport" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Search" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.ContactManagement" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.DataProtection" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Ecommerce" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Activities" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Newsletters" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.OnlineForms" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Routing.Web" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.17.1.0" newVersion="0.17.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.WebFarmSync" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.TransactSql.ScriptDom" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.100.0.0" newVersion="13.100.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Localization.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Kentico.Content.Web.Mvc" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Kentico.Web.Mvc" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.MediaLibrary" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.EmailEngine" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.OnlineMarketing" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.WebAnalytics" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.S3" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.Core" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Search.Service" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Search.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Search.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Taxonomy" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.ContinuousIntegration" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.UIControls" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.FormEngine.Web.UI" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Base.Web.UI" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.PortalEngine.Web.UI" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.ResponsiveImages" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Personas" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CMS.Search.Azure" publicKeyToken="834b12a258f213f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.13.0" newVersion="13.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="CMSGetFile" />
      <remove name="CMSGetFile" />
      <remove name="CMSGetFile" />
      <remove name="CMSGetFile" />
      <remove name="CMSGetFile" />
      <remove name="CMSGetFile" />
      <remove name="CMSGetFile" />
      <remove name="CMSGetAttachment" />
      <remove name="CMSGetMedia" />
      <remove name="CMSGetMetafile" />
      <remove name="CMSGetFile" />
      <remove name="CMSGetAvatar" />
      <remove name="KenticoResource" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Sitemap File Handler" path="sitemap.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
      <add name="Robots.txt Handler" path="robots.txt" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
      
      <add name="CMSGetAttachment" path="getattachment/*/*" verb="GET,HEAD" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="CMSGetMedia" path="getmedia/*/*" verb="GET,HEAD" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="CMSGetMetafile" path="getmetafile/*/*" verb="GET,HEAD" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="CMSGetAvatar" path="getavatar/*/*" verb="GET,HEAD" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="KenticoResource" path="Kentico.Resource/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="CMSApplicationModule" />
      
      <add name="CMSApplicationModule" preCondition="managedHandler" type="CMS.Base.ApplicationModule, CMS.Base" />
    </modules>
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
        <add enabled="true" mimeType="application/atom+xml" />
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/xaml+xml" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
      </staticTypes>
    </httpCompression>
    
  </system.webServer>
  <location path="scripts">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="Kentico.Uploaders">
    <system.web>
      <httpRuntime executionTimeout="120" maxRequestLength="204800" />
    </system.web>
  </location>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <location path="cmsctx">
    <system.webServer>
      <handlers>
        <remove name="CMSPreviewLinkHandler" />
        <add name="CMSPreviewLinkHandler" path="*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="209715200" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>