<div class="widget testimonial">
  <div class="bg">
    <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/testimonial-bg.jpg?auto=format" alt="">
  </div>
  <div class="tint"></div>
  <img class="quote-66 lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/66.png?auto=format" alt="">
  <img class="quote-99 lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/99.png?auto=format" alt="">

  <div class="content">
    <div class="wrapper">
      <div class="row">
        <div class="col">
          <div class="title">We had the most amazing time in Bora Bora!</div>
          <div class="date">March 2016</div>

        </div>
        <div class="col">
          <div class="quote">
            From the champagne welcome in the room in Tahiti - to the champagne welcome in Bora Bora - and all the treats every night - it was one of the best, most relaxing holidays we have experienced. Staff were fantastic - so friendly and accommodating - attention to detail in every regard. Polite and considerate and welcoming. The resort of course is outstanding. We honestly loved it! Thank you for all your help also when our flights were delayed and we missed our connection - you were very generous in addressing that!
          </div>
          <div class="author">J. Jones, Sydney Australia</div>
        </div>
      </div>

      <a href="#" class="ui transparent white button">Explore Tahiti</a>

    </div>
  </div>
</div>
