{# NOTE this is the existing experience-cta widget, I just added a `<div class="inner"></div>` surrounding everything #}
<div class="widget experience-cta">
  <div class="inner">
    <img class="bg lazyload" width="1" height="1" data-sizes="auto"
         data-srcset="
             https://devotion-creative.imgix.net/etgp0001/images/experience-bg.jpg?w=375&fit=crop&auto=format 375w,
             https://devotion-creative.imgix.net/etgp0001/images/experience-bg.jpg?w=600&fit=crop&auto=format 600w,
             https://devotion-creative.imgix.net/etgp0001/images/experience-bg.jpg?w=768&fit=crop&auto=format 768w,
             https://devotion-creative.imgix.net/etgp0001/images/experience-bg.jpg?w=1024&fit=crop&auto=format 1024w,
             https://devotion-creative.imgix.net/etgp0001/images/experience-bg.jpg?w=1920&fit=crop&auto=format 1920w"
         alt=""
    >

    <div class="tint"></div>

    <div class="overlay">
      <img class="lazyload desktop" data-src="https://devotion-creative.imgix.net/etgp0001/images/featured-content-panel-pattern.png?auto=format" alt="">
      <img class="lazyload mobile" data-src="https://devotion-creative.imgix.net/etgp0001/images/round.png?auto=format" alt="">
      <h2>Food and Wine experiences</h2>
      <p>Experience some of the best cuisines in the world with our gourmet tours. Soak in the breathtaking scenery whilst you enjoy the most delicious dishes and wines your chosen destination has to
        offer. Make gelato and tiramisu in Rome. Enjoy the art of cheese-making in Gruyere. Discover the unique culinary tradition of the Iberian Peninsula. As they say in France, bon apétit!</p>
      <a href="#" class="button ui primary">Experience food and wine</a>
    </div>

    <div class="grad"></div>

    <div class="author"><span class="icon icon-pin"></span>Santa Maria dell’Isola, Tropea - Photo: J SMith</div>
  </div>
</div>
