<div class="widget landing-hero homepage-hero">
  <div class="top">


<div class="bg">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                        <div class="swiper-slide">

                            <img class="lazyload" data-sizes="auto" data-srcset="https://entiretravel.imgix.net/getmedia/6b6cd4dc-5c1b-42eb-a580-d23558e3a71f/homepage_1900x1000.jpg?auto=format&amp;w=375&amp;h=1000&amp;fit=crop 375w,
https://entiretravel.imgix.net/getmedia/6b6cd4dc-5c1b-42eb-a580-d23558e3a71f/homepage_1900x1000.jpg?auto=format&amp;w=600&amp;h=1000&amp;fit=crop 600w,
https://entiretravel.imgix.net/getmedia/6b6cd4dc-5c1b-42eb-a580-d23558e3a71f/homepage_1900x1000.jpg?auto=format&amp;w=768&amp;h=1000&amp;fit=crop 768w,
https://entiretravel.imgix.net/getmedia/6b6cd4dc-5c1b-42eb-a580-d23558e3a71f/homepage_1900x1000.jpg?auto=format&amp;w=1024&amp;h=1000&amp;fit=crop 1024w,
https://entiretravel.imgix.net/getmedia/6b6cd4dc-5c1b-42eb-a580-d23558e3a71f/homepage_1900x1000.jpg?auto=format&amp;w=1920&amp;h=1000&amp;fit=crop 1920w" alt="alt text">

                          <div class="sub-container">
                            <div class="author">
                              <span class="icon icon-pin"></span>Caption 1
                            </div>
                          </div>

                        </div>
                        <div class="swiper-slide">
                            <img class="lazyload" data-sizes="auto" data-srcset="https://entiretravel.imgix.net/getmedia/195f8455-433e-4453-a50b-52a98c3c139d/Home_page_Tahiti-(1).jpg?auto=format&amp;w=375&amp;h=1000&amp;fit=crop 375w,
https://entiretravel.imgix.net/getmedia/195f8455-433e-4453-a50b-52a98c3c139d/Home_page_Tahiti-(1).jpg?auto=format&amp;w=600&amp;h=1000&amp;fit=crop 600w,
https://entiretravel.imgix.net/getmedia/195f8455-433e-4453-a50b-52a98c3c139d/Home_page_Tahiti-(1).jpg?auto=format&amp;w=768&amp;h=1000&amp;fit=crop 768w,
https://entiretravel.imgix.net/getmedia/195f8455-433e-4453-a50b-52a98c3c139d/Home_page_Tahiti-(1).jpg?auto=format&amp;w=1024&amp;h=1000&amp;fit=crop 1024w,
https://entiretravel.imgix.net/getmedia/195f8455-433e-4453-a50b-52a98c3c139d/Home_page_Tahiti-(1).jpg?auto=format&amp;w=1920&amp;h=1000&amp;fit=crop 1920w" alt="">

                          <div class="sub-container">
                            <div class="author">
                              <span class="icon icon-pin"></span>Caption 2
                            </div>
                          </div>

                        </div>
                        <div class="swiper-slide">
                            <img class="lazyload" data-sizes="auto" data-srcset="https://entiretravel.imgix.net/getattachment/ac80b048-d2ef-4279-9d01-566845628461/1900x1000_Canada-(1).jpg?auto=format&amp;w=375&amp;h=1000&amp;fit=crop 375w,
https://entiretravel.imgix.net/getattachment/ac80b048-d2ef-4279-9d01-566845628461/1900x1000_Canada-(1).jpg?auto=format&amp;w=600&amp;h=1000&amp;fit=crop 600w,
https://entiretravel.imgix.net/getattachment/ac80b048-d2ef-4279-9d01-566845628461/1900x1000_Canada-(1).jpg?auto=format&amp;w=768&amp;h=1000&amp;fit=crop 768w,
https://entiretravel.imgix.net/getattachment/ac80b048-d2ef-4279-9d01-566845628461/1900x1000_Canada-(1).jpg?auto=format&amp;w=1024&amp;h=1000&amp;fit=crop 1024w,
https://entiretravel.imgix.net/getattachment/ac80b048-d2ef-4279-9d01-566845628461/1900x1000_Canada-(1).jpg?auto=format&amp;w=1920&amp;h=1000&amp;fit=crop 1920w" alt="">

                          <div class="sub-container">
                            <div class="author">
                              <span class="icon icon-pin"></span>Caption 3
                            </div>
                          </div>

                        </div>
                        <div class="swiper-slide">
                            <img class="lazyload" data-sizes="auto" data-srcset="https://entiretravel.imgix.net/getattachment/a47ea6b5-6946-48eb-a173-58fade227af7/1900x1000_France-(1).jpg?auto=format&amp;w=375&amp;h=1000&amp;fit=crop 375w,
https://entiretravel.imgix.net/getattachment/a47ea6b5-6946-48eb-a173-58fade227af7/1900x1000_France-(1).jpg?auto=format&amp;w=600&amp;h=1000&amp;fit=crop 600w,
https://entiretravel.imgix.net/getattachment/a47ea6b5-6946-48eb-a173-58fade227af7/1900x1000_France-(1).jpg?auto=format&amp;w=768&amp;h=1000&amp;fit=crop 768w,
https://entiretravel.imgix.net/getattachment/a47ea6b5-6946-48eb-a173-58fade227af7/1900x1000_France-(1).jpg?auto=format&amp;w=1024&amp;h=1000&amp;fit=crop 1024w,
https://entiretravel.imgix.net/getattachment/a47ea6b5-6946-48eb-a173-58fade227af7/1900x1000_France-(1).jpg?auto=format&amp;w=1920&amp;h=1000&amp;fit=crop 1920w" alt="">

                          <div class="sub-container">
                            <div class="author">
                              <span class="icon icon-pin"></span>Caption 4
                            </div>
                          </div>

                        </div>
                        <div class="swiper-slide">
                            <img class="lazyload" data-sizes="auto" data-srcset="https://entiretravel.imgix.net/getattachment/5da45aa5-96df-4be9-92a5-ef662ee6dcb2/1900X1000_NewCaledonia-(1).jpg?auto=format&amp;w=375&amp;h=1000&amp;fit=crop 375w,
https://entiretravel.imgix.net/getattachment/5da45aa5-96df-4be9-92a5-ef662ee6dcb2/1900X1000_NewCaledonia-(1).jpg?auto=format&amp;w=600&amp;h=1000&amp;fit=crop 600w,
https://entiretravel.imgix.net/getattachment/5da45aa5-96df-4be9-92a5-ef662ee6dcb2/1900X1000_NewCaledonia-(1).jpg?auto=format&amp;w=768&amp;h=1000&amp;fit=crop 768w,
https://entiretravel.imgix.net/getattachment/5da45aa5-96df-4be9-92a5-ef662ee6dcb2/1900X1000_NewCaledonia-(1).jpg?auto=format&amp;w=1024&amp;h=1000&amp;fit=crop 1024w,
https://entiretravel.imgix.net/getattachment/5da45aa5-96df-4be9-92a5-ef662ee6dcb2/1900X1000_NewCaledonia-(1).jpg?auto=format&amp;w=1920&amp;h=1000&amp;fit=crop 1920w" alt="">

                          <div class="sub-container">
                            <div class="author">
                              <span class="icon icon-pin"></span>Caption 5
                            </div>
                          </div>

                        </div>
                </div>
            </div>
    </div>

<div class="tint"></div>


    <div class="design">
      <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/landing-design.png?auto=format" alt="">
    </div>
    <h1>Campaign headline<span class="medium">lorem ipsum dolor sit</span><span class="small">lorem ipsum dolor sit</span></h1>

    <div class="sub-container">
      <div class="actions">
        <a href="#" class="button ui white share-button"><span class="icon fas fa-share"></span>Share</a>
      </div>

      <div class="author"><span class="icon icon-pin"></span>Santa Maria dell’Isola, Tropea - Photo: J Smith</div>
    </div>

    <div class="share-modal ui modal">
      <i class="close icon"><span class="fal fa-times"></span></i>
      <input type="text" class="url-holder" value="http://www.entireurl.com">

      <div class="links">
        <a href="#" class="button ui facebook"><span class="icon fab fa-facebook"></span>Facebook</a>
        <a href="#" class="button ui instagram"><span class="icon fab fa-instagram"></span>Instagram</a>
        <a href="#" class="button ui linkedin"><span class="icon fab fa-linkedin"></span>Linkedin</a>
        <a href="#" class="button ui twitter"><span class="icon fab fa-twitter"></span>Twitter</a>
        <a href="#" class="button ui pinterest"><span class="icon fab fa-pinterest"></span>Pinterest</a>
        <a href="#" class="button ui copy-link" data-content="Link copied!"><span class="icon icon-chain"></span>Copy Link</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="experience-list">
      <div class="title">When experience matters</div>


      <div class="list">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon icon-australia"></span> Small Group Tours asfwsergewr erg er</a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
