@import "../../styles/includes/settings.scss";
@import "../../styles/includes/colours.scss";

.departures-pricing {
  border: 1px solid #e6e6e6;
  padding: 20px;

  &.sticky {
    position: sticky;
    top: 20px;
  }

  .ui.selection.dropdown {
    width: 100%;
  }

  .submit {
    width: 100%;
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nights {
    margin-top: 2px;
    font-weight: bold;
  }

  .price {
    text-align: right;
    line-height: 2.3;

    span {
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
    }

    a {
      text-transform: uppercase;
      color: $primary;
      font-size: 10px;
      font-weight: 900;
    }
  }

  label {
    font-size: 12px !important;
    font-weight: bold !important;
  }

  .field {
    &:last-child {
      margin-bottom: 10px !important;
    }
  }

  .set {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;

    &:last-child {
      border-bottom: none;
    }
  }
}
