<div class="widget cta-panel">
  <img class="bg lazyload" width="1" height="1" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format" alt="">
  <div class="tint"></div>
  <div class="wrapper">
    <div class="content">
      <h2>Prefer speaking on the phone?</h2>
      <p>Ut a turpis purus. Aliquam hendrerit risus sit amet ornare rutrum. Nunc ac aliquet nibh. Maecenas at nulla mi. Ut id augue fermentum orci convallis fermentum ac sed justo. Nulla nec tortor lorem. Curabitur sed luctus felis, sed iaculis dolor. </p>

      <a href="#" class="button ui transparent primary">Meet our italy destination experts</a>
    </div>
  </div>
</div>
