@import "../../styles/includes/settings.scss";
@import "../../styles/includes/colours.scss";

.career-description {
  .top {
    background-color: #ededed;
    padding: 40px 0;

    h1 {
      margin-bottom: 5px;
    }

    span {
      margin: 0 5px;
      opacity: 0.5;
    }
  }

  h3 {
    font-family: $lato;
  }
}
