<div class="widget partnership-with">
  <div class="title">In partnership with</div>

  <div class="images">
    <div class="item">
      <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/partnership.png?auto=format" alt="">
    </div>
    <div class="item">
      <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/partnership.png?auto=format" alt="">
    </div>
    <div class="item">
      <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/partnership.png?auto=format" alt="">
    </div>
  </div>
</div>
