<div
  class="widget nz-redirect-modal ui modal" data-cookie="nzRedirectModal_deny" data-check-api-url="https://3b6b0d9c-9843-4e0a-b266-c503178c376a.mock.pstmn.io/api/getcountry" data-check-api-method="GET">
  {# <i class="close icon">
    <span class="fal fa-times"></span>
  </i> #}
  <h2>You appear to be in New Zealand</h2>
  {# <p class="sub-title"></p> #}
  <div class="spacer-40"></div>
  <div class="buttons">
    <a class="ui button primary" href="https://www.entiretravel.co.nz">Take me to entiretravel.co.nz</a>
    <button type="button" class="js-deny-redirect ui button primary outline">Proceed to entiretravel.com.au</button>
  </div>
</div>
