<div class="widget also-like wp">
  <div class="wrapper">
    <h2>You might also like</h2>

    <div class="product-tiles-container">
      <div class="carousel">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
            <div class="swiper-slide">
              {% include "src/widgets/product-tile/product-tile.njk" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
