<div class="widget new-article-listing" data-index="ArticleUAT">
  <div class="wrapper top-stuff">
    <h1>Inspiration</h1>

    <div class="search-bar">
      <div class="search-box">
        <div id="searchbox" class="ui fluid input"></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="destination">
            <div class="label">Destination</div>
            <div id="destinationSelect"></div>
          </div>
        </div>
        <div class="col">
          <div class="category">
            <div class="label">Category</div>
            <div id="categorySelect"></div>
          </div>
        </div>
        <div class="col">
          <div class="experience">
            <div class="label">Experience</div>
            <div id="experienceSelect"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper bottom-stuff">
    <div class="stats-bar">
      <div class="stat-item">
        <div id="stats" class="value"></div>
      </div>
      <div class="stat-item">
        <div class="label">View:</div>
        <div id="hitsPerPage" class="value"></div>
      </div>
    </div>

    <div id="statsHits"></div>
    <div id="hits"></div>

    <div class="pagination">
      <div id="pagination"></div>
    </div>
  </div>
</div>