<div class="widget homepage-hero">
  <div class="top">
    <div class="bg">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=375&h=1000&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=600&h=1000&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=768&h=1000&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1024&h=1000&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1920&h=1000&fit=crop&auto=format 1920w
          " alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=375&h=1000&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=600&h=1000&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=768&h=1000&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1024&h=1000&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1920&h=1000&fit=crop&auto=format 1920w
          " alt="">
          </div>
          <div class="swiper-slide">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=375&h=1000&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=600&h=1000&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=768&h=1000&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1024&h=1000&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/homepage-hero.jpg?w=1920&h=1000&fit=crop&auto=format 1920w
          " alt="">
          </div>
        </div>
      </div>
    </div>

{#    <div class="video">#}
{#      <video loop muted autoplay playsinline poster="images/ETG-vid-example-poster.jpg">#}
{#        <source src="images/ETG-vid-example-1440-sml10.mp4" type="video/mp4">#}
{#      </video>#}
{#    </div>#}
    <div class="tint"></div>

    <div class="center">
      <h1>Holiday packages</h1>

{#      {% include "src/widgets/site-search/site-search.njk" %}#}

{#      <div class="or">Or</div>#}

      <a href="#" class="button primary ui">Browse</a>

    </div>
{#    <div class="arrow">#}
{#      <span class="icon fas fa-chevron-down"></span>#}
{#    </div>#}
  </div>
  <div class="bottom">
    <div class="experience-list">
      <div class="title">When experience matters</div>


      <div class="list">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</div>
            </div>
            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-hiking"></span> Small Group Tours</a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon icon-australia"></span> Small Group Tours asfwsergewr erg er</a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="label"><span class="icon fas fa-tag"></span> Small Group Tours</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
