<div class="widget destination-expert">
  <div class="top">
    <img class="bg lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/destination-expert.jpg?w=375&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/destination-expert.jpg?w=600&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/destination-expert.jpg?w=768&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/destination-expert.jpg?w=1024&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/destination-expert.jpg?w=1920&fit=crop&auto=format 1920w
          " alt="">
    <div class="tint"></div>
{#    <img class="avatar lazyload" data-src="http://devotion-creative.imgix.net/etgp0001/images/avatar-original.png?w=184&h=275&fit=facearea&facepad=2.5&mask=http://etgp0001.creative.madewithdevotion.com.au/images/pin-mask.png&auto=format" alt="">#}
      <div class="icon icon-pin"></div>
    <img class="lazyload round" data-src="https://devotion-creative.imgix.net/etgp0001/images/destination-round.png?auto=format" alt="">
  </div>
  <div class="bottom">

    <div class="inner">
      <div class="label">Our destination experts</div>
      <h2>Meet our italian team</h2>

      <div class="copy">
        <div class="inner-copy">
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi eraommodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          <div class="grad"></div>
        </div>
        <div class="read-more"><span class="down">Read more <span class="icon fas fa-chevron-down"></span></span><span class="up">Read less <span class="icon fas fa-chevron-up"></span></span></div>
      </div>

      <div class="favourite">
        <div class="favourite-label">One of the team's favourites</div>

        <a href="#" class="panel">
          <div class="col">
            <img class="lazyload" data-sizes="auto" data-srcset="
            https://devotion-creative.imgix.net/etgp0001/images/expert-destination-img.jpg?w=375&fit=crop&auto=format 375w,
            https://devotion-creative.imgix.net/etgp0001/images/expert-destination-img.jpg?w=600&fit=crop&auto=format 600w,
            https://devotion-creative.imgix.net/etgp0001/images/expert-destination-img.jpg?w=768&fit=crop&auto=format 768w,
            https://devotion-creative.imgix.net/etgp0001/images/expert-destination-img.jpg?w=1024&fit=crop&auto=format 1024w,
            https://devotion-creative.imgix.net/etgp0001/images/expert-destination-img.jpg?w=1920&fit=crop&auto=format 1920w
          " alt="">
          </div>
          <div class="col">
            <div class="location">Italy</div>
            <div class="title">Treasures of Italy</div>
            <div class="description">
              <p>Celebrate romance, art, and faith with this 5-day grand tour of Italy's best-kept treasures. Donec sed odio morbi leo risus, porta ac consectetur ac, vestibulum at eros. </p>
            </div>

            <div class="details">
              <div class="line">10 nights
                <span class="grey">|</span>
                <span class="icon fas fa-plane"></span>
                <span class="icon fas fa-bed"></span>
                <span class="icon fas fa-utensils"></span>
                <span class="icon fas fa-bus"></span>
              </div>

              <div class="line">
                <span class="grey">From</span> $7,681 per person <span class="grey">twin share</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <a href="#" class="button ui primary">Meet the other destination experts</a>

    </div>
  </div>
</div>
