<div class="widget package-hero">
  <a href="#" class="banner">
    <div class="inner">
      <div class="logo">
        <img class="lazyload desktop" src="images/pom-large.png" alt="">
        <img class="lazyload mobile" src="images/pom-large.png" alt="">
      </div>
      <div class="copy">Entire guarantee, <br>your peace of mind booking plan</div>
      <span class="fa fa-arrow-circle-right icon"></span>
    </div>
  </a>
  <div class="carousel">
    <div class="item">
      <div class="image" style="background-image:url(https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format);")></div>
      
      <div class="author"><span class="icon icon-pin"></span>Queenstown</div>
      <div class="grad-top"></div>
      <div class="grad"></div>
    </div>
    <div class="item">
      <div class="image" style="background-image:url(https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format);")></div>
      <div class="author"><span class="icon icon-pin"></span>2 Santa Maria dell’Isola, Tropea - Photo: W Smith</div>
      <div class="grad-top"></div>
      <div class="grad"></div>
    </div>
    <div class="item">
      <div class="image" style="background-image:url(https://devotion-creative.imgix.net/etgp0001/images/destination-hero-bg.jpg?auto=format);")></div>
      <div class="author"><span class="icon icon-pin"></span>3 Santa Maria dell’Isola, Tropea - Photo: M Smith</div>
      <div class="grad-top"></div>
      <div class="grad"></div>
    </div>
  </div>

  <div class="static-title center">
    <h1 class="hero-title">Africa</h1>
    <div class="image-subtitle">Africa, the second largest continent in the world, is an ultimate destination for those seeking adventure and want to experience the best of mother nature has to offer. It is a magical place, and each country has its own personality. </div>
  </div>
  <div class="flex">
    <h1>HILTON MOOREA LAGOON RESORT</h1>
    <div class="code">(AAA000111)</div>
  </div>


  <div class="sub-container">
    <div class="actions">
      <a href="#" class="button ui white share-button"><span class="icon fas fa-share"></span>Share</a>
{#      <a href="#" class="button ui white photo-button"><span class="icon fas fa-phone"></span>Photos</a>#}
    </div>
  </div>

  <div class="share-modal ui modal">
    <i class="close icon"><span class="fal fa-times"></span></i>
    <input type="text" class="url-holder" value="http://www.entireurl.com">

    <div class="links">
      <a href="#" class="button ui facebook"><span class="icon fab fa-facebook"></span>Facebook</a>
      <a href="#" class="button ui instagram"><span class="icon fab fa-instagram"></span>Instagram</a>
      <a href="#" class="button ui linkedin"><span class="icon fab fa-linkedin"></span>Linkedin</a>
      <a href="#" class="button ui twitter"><span class="icon fab fa-twitter"></span>Twitter</a>
      <a href="#" class="button ui pinterest"><span class="icon fab fa-pinterest"></span>Pinterest</a>
      <a href="#" class="button ui copy-link" data-content="Link copied!"><span class="icon icon-chain"></span>Copy Link</a>
    </div>
  </div>

  <div class="photo-modal ui modal">
    <i class="close icon"><span class="fal fa-times"></span></i>
    {% include "src/widgets/photo-gallery/photo-gallery.njk" %}
  </div>
</div>
