<div class="widget generic-enquire-side sticky">
  <div class="logo">
    <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/etg.png?auto=format" alt="">
  </div>
  <div class="brand-details">
    <div class="title">Enquire Travel Group</div>
    <div class="line">
      <span class="icon fas fa-phone"></span>
      <b>Australia</b><br>
      02 1234 5678
    </div>
    <div class="line">
      <span class="icon fas fa-phone"></span>
      <b>New Zealand</b><br>
      02 1234 5678
    </div>
    <div class="line"><span class="icon fas fa-envelope"></span>PO Box 4217<br>Castlecrag NSW 2068</div>
  </div>
  <div class="contact">
    <a href="#" class="ui primary outline button fluid">Schedule a meeting</a>
    <a href="#" class="ui primary outline button fluid">Faqs</a>
<!--    <div class="title">Or speak to a Destination Expert</div>-->
<!--    <p>Our Destination Experts would love to help you out. Opening hours are from 9:00am - 5:30pm, Monday to Friday</p>-->

<!--    <p class="label">Destination</p>-->
<!--    <select class="make-dropdown" name="destination">-->
<!--      <option value="">Optional</option>-->
<!--      <option value="1">Option</option>-->
<!--      <option value="2">Option</option>-->
<!--      <option value="3">Option</option>-->
<!--    </select>-->

<!--    <div class="data-set" data-value="0" data-phone="1310 000 000" data-url="/url1"></div>-->
<!--    <div class="data-set" data-value="1" data-phone="1320 000 000" data-url="/url2"></div>-->
<!--    <div class="data-set" data-value="2" data-phone="1330 000 000" data-url="/url3"></div>-->

<!--    <div class="lines">-->
<!--      <div class="line"><span class="icon fas fa-phone"></span><span class="number">1300 000 000</span></div>-->
<!--      <a href="#" class="line meet-url"><span class="icon fas fa-users"></span>Meet the team</a>-->
<!--    </div>-->
  </div>
</div>
