<div class="widget related-articles">
  <div class="wrapper">
    <h2>Read what we've written on spain</h2>
    <div class="articles">
      <a href="#" class="item">
        <span class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/related-article.jpg?auto=format" alt="">
        </span>
        <span class="location">Europe</span>
        <span class="title">Donec sed odio dui. Sed posuere consectetur est at lobortis. </span>
      </a>
      <a href="#" class="item">
        <span class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/related-article.jpg?auto=format" alt="">
        </span>
        <span class="location">Europe</span>
        <span class="title">Donec sed odio dui. Sed posuere consectetur est at lobortis. </span>
      </a>
      <a href="#" class="item">
        <span class="image">
          <img class="lazyload" data-src="https://devotion-creative.imgix.net/etgp0001/images/related-article.jpg?auto=format" alt="">
        </span>
        <span class="location">Europe</span>
        <span class="title">Donec sed odio dui. Sed posuere consectetur est at lobortis. </span>
      </a>
    </div>
  </div>
</div>
