<div class="widget why-we-love-it">
  <div class="wrapper">
    <!--<h2>Single callout</h2>-->

    <div class="section features-section">
      <div class="image">
        <div class="sizer">
          <img data-src="https://picsum.photos/id/24/1200/300" class="lazyload" data-sizes="auto" />
        </div>
      </div>
      <div class="copy">
        <!-- Rich text must be wrapped in <div> -->
        <div>
          <h3>Lorem ipsum deck plan</h3>
          <p>All barges have different ratings, but one important point they all have in common is their high standards. Every winter, vessels are fully painted and varnished to be perfectly accommodating. Some of them are family-owned with a cosy atmosphere, some are ultimate luxury with all the amenities you can imagine. Barges range in size from 2 cabins up to 10 cabins for larger group charters.</p>
        </div>
        <!-- Optional .featured-list -->
        <div class="features-list">
          <strong>Features</strong>
          <ul>
            <li>The Restaurant</li>
            <li>Guest Services</li>
            <li>Shop</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>The Lounge</li>
            <li>The Library</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
