<div class="widget why-we-love-it">
  <div class="wrapper">
    <h2>Why we love it!</h2>

    <div class="sections">
      {% for item in [1,2,3] %}
      <div class="section">
        <div class="image">
          <div class="sizer">
            <img data-src="https://via.placeholder.com/640x400" class="lazyload" data-sizes="auto" />
          </div>
        </div>
        <div class="copy">
          <h3>Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa laboriosam recusandae tempore! Accusantium animi culpa dolorum eos impedit itaque magni nam natus quaerat, quasi quibusdam recusandae repudiandae sed sunt vero?</p>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
