<div class="widget gdpr-consent">
  <div class="wrapper">
    <div class="copy">This website stores cookies on your computer. These cookies are used to improve our website and provide more personalised services to you, both on this website and through other media. To find out more about the cookies we use, see our <a href="#">Privacy Policy</a>. If you decline, we won't track your info when you visit our site, but in order to comply with your preferences, we'll have to use just one tiny cookie so that you're not asked to make the choice again.</div>
    <div class="links">
      <button class="ui button primary accept" type="button">Accept</button>
      <button class="ui inverted button transparent primary decline" type="button">Decline</button>
    </div>
  </div>
</div>
